@model HalloDoc.DataLayer.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "PatientDashboardAndMedicalHistory";
    Layout = "_Layout";
}

<Partial name="_Notification" />
@section Styles {
    <link href="~/css/patient-dashboard-and-medical-history.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
}

@section Scripts {
    <script src="~/js/bootstrap.bundle.min.js"></script>
}

<div style="overflow: hidden;">
    @*<nav class="navbar navbar-expand-lg navbar-light d-none d-sm-flex">
        <div class="container-fluid">
            <img src="~/images/logo1.png" alt="" style="height: 80px;" class="ms-5">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item mt-4" style="margin-right:40px; margin-top: 30px !important;">
                        <p class="h5">Welcome <span class="fw-bold">@Model.Username</span></p>
                    </li>
                    <li class="nav-item mt-4" style="margin-right:100px;">
                        <a class="border border-info border-2 btn btn-outline-info" asp-controller="Login" asp-action="PatientSite">Logout</a>
                    </li>
                    <li class="nav-item">
                        <div class="moon-flex">
                            <button onclick="changeTheme()" class="change-theme">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-moon night-mode-icon" viewBox="0 0 16 16">
                                    <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                                </svg>
                            </button>
                            <button onclick="changeTheme()" class="change-theme hide-icon">

                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-brightness-high night-mode-icon" viewBox="0 0 16 16">
                                    <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708" />
                                </svg>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>


    @*<div class="card border-bottom-0 border-left-0 border-right-0 d-none d-sm-flex">
        <div class="card-body nav-links ms-5">
            <ul class="nav nav-tabs mb-3 nav-links" id="pills-tab" role="tablist">
                <li class="nav-item me-3" role="presentation">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">
                        <a asp-controller="Login" asp-action="PatientDashboardAndMedicalHistory">Dashboard</a>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                            type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                        <a asp-controller="Login" asp-action="PatientProfile">Profile</a>
                    </button>
                </li>
            </ul>
        </div>
    </div>*@

    <nav class="d-flex justify-content-between Nav border-bottom border-dark-subtle w-100 sticky-top bg-light">
        <div class="d-flex gap-1 align-items-center">
            <button class="navbar-toggler d-block d-sm-none ms-1"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseExample"
                    aria-expanded="false"
                    aria-controls="collapseExample">
                    <span class="navbar-toggler-icon"></span>
                <i class="bi bi-list" style="color: #27b5d2; border: 1px solid #ccf4fc;"></i>
            </button>

            <img src="~/images/logo1.png"
                 class="Image ps-1 pt-1 ms-5"
                 alt="Patient"
                 style="height: 80px;"/>
        </div>
        <div class="d-flex align-items-center gap-1 flex-wrap">
            <p class="fw-light p-0 text-muted fw-semibold me-4 d-none d-sm-inline-block" style="margin-top: 20px !important;">welcome <strong> @Model.Username</strong></p>
            <a class="btn btn-outline-info d-none d-sm-flex mt-1" asp-controller="Login" asp-action="PatientSite" style="margin-right:100px;">Logout</a>
            <a class="btn btn-outline-info d-inline-block d-sm-none flex-shrink-1 flex-sm-shrink-0" style="margin-right: 50px;"
               asp-controller="Login" asp-action="PatientSite">
                <i class="bi bi-box-arrow-right"></i>
            </a>
            <div class="moon-flex d-none d-sm-flex">
                <button onclick="changeTheme()" class="change-theme">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-moon night-mode-icon" viewBox="0 0 16 16">
                        <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                    </svg>
                </button>
                <button onclick="changeTheme()" class="change-theme hide-icon">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-brightness-high night-mode-icon" viewBox="0 0 16 16">
                        <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708" />
                    </svg>
                </button>
            </div>
            <div class="moon-flex d-sm-none flex-shrink-1 flex-sm-shrink-0">
                <button onclick="changeTheme()" class="change-theme-mobile-view">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-moon night-mode-icon-mobile" viewBox="0 0 16 16">
                            <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                    </svg>
                </button>
                <button onclick="changeTheme()" class="change-theme-mobile-view hide-icon">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-brightness-high night-mode-icon-mobile" viewBox="0 0 16 16">
                            <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708" />
                    </svg>
                </button>
            </div>
        </div>
    </nav>

    <nav class="shadow collpase" id="collapseExample">
        <div class="nav nav-underline container-fluid ms-5"
             id="nav-tab "
             role="tablist">
            <div class="nav-link active text-info me-4 ps-3 pe-3"
                 id="nav-home-tab"
                 data-bs-toggle="tab"
                 data-bs-target="#nav-home"
                 role="tab"
                 aria-controls="nav-home"
                 aria-selected="true">
                Dashboard
            </div>
            <a class="nav-link text-info"
               id="nav-profile-tab"
               asp-controller="Login"
               role="tab"
               aria-controls="nav-profile"
               aria-selected="false"
               asp-action="PatientProfile">
                Profile
            </a>
        </div>
    </nav>

    <div class="d-flex flex-column bg-light" style="margin: 5px auto; padding: 0px 35px; height: 782px;">
        <div class="bg-light">
            <div class="mx-5 py-5 px-3">
                <p class="h4 text-muted">Medical History</p>
            </div>
        </div>

        <div class="mx-3 border rounded">
            <div class="bg-white d-sm-flex d-none justify-content-end">
                <button type="button" class="btn btn-outline-info me-4 my-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" style="padding-top: 5px;">
                    Create New Request
                </button>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="crossbutton modal-header bg-info">
                            <h1 class="modal-title text-white fs-5" id="exampleModalLabel">Create New Request</h1>
                            <button type="button" class="crossss btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Here, I want to create a new request for...

                            <div class="text-center">
                                <button type="button" class="btn btn_dash selected" id="me-link" onclick="toggleMe()">Me</button>
                                <a asp-action="RequestForMe" id="me_link"></a>
                                
                                <button type="button" class="btn btn_dash" id="else-link" onclick="toggleElse()">Someone Else</button>
                                <a asp-action="RequestForSomeoneElse" id="else_link"></a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-info" onclick="selectForm()">Continue</button>
                            <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive d-none d-sm-flex">
                <table class="table mb-0">
                    <thead class="table-secondary ms-2">
                        <tr>
                            <th scope="col">Created Date <i class="fa-solid fa-arrow-down"></i></th>
                            <th scope="col">Current Status</th>
                            <th scope="col">Document</th>
                        </tr>
                    </thead>
                    <tbody class="ms-2">
                        @foreach (var item in Model.requests)
                        {
                            <tr>
                                <td>@item.CreatedDate.ToString("MMM dd, yyyy")</td>
                                <td>Unassigned</td>
                                <td><a style="border:1px solid #00ccff;padding:6px;margin:auto;  color:#00ccff;border-radius:5px; text-decoration: none;" asp-controller="Login" asp-action="PatientDashboardViewDocuments" asp-route-requestid="@item.RequestId">(@item.Count) Documents</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>



            <!-- Accordion part (for mobile view) -->
            <div class="bg-white mt-0">
                <div class="d-flex justify-content-end d-sm-none mx-3 py-3">
                    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
                            data-bs-target="#centeredModal">
                        +
                    </button>
                </div>
                <div class="accordion accordion-flush d-sm-none" id="accordionFlushExample">
                    @for (var i = 0; i < Model.requests.Count; ++i)
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading@(i)">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapse@(i)" aria-expanded="false" aria-controls="flush-collapse@(i)">
                                    <img src="~/images/clock.svg" alt="" class="accordion-img"> <span class="accordion-heading">
                                        Created
                                        Date: <span class="accordion-value">@Model.requests[i].CreatedDate</span>
                                    </span>
                                </button>
                            </h2>
                            <div id="flush-collapse@(i)" class="accordion-collapse collapse" aria-labelledby="flush-heading@(i)"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body main-flex">
                                    <div class="inner-flex">
                                        <img src="~/images/person-circle.svg" alt="" class="accordion-img-inner">
                                        <span class="accordion-heading-inner">
                                            Provider :
                                            <span class="accordion-value-inner">@Model.requests[i].Name</span>
                                        </span>
                                    </div>
                                    <div class="inner-flex">
                                        <img src="~/images/success-26.svg" alt="" class="accordion-img-inner" style="height: 5px; width: 5px"> <span class="accordion-heading-inner">
                                            Current
                                            Status: <span class="accordion-value-inner">Unassigned</span>
                                        </span>
                                    </div>
                                    <div style="margin-top: 4px;">
                                        <a style="border:1px solid #00ccff;padding:6px;margin:auto; margin-top: 5px;  color:#00ccff;border-radius:5px; text-decoration: none;" asp-controller="Login" asp-action="PatientDashboardViewDocuments" asp-route-id="@(Model.requests[i].RequestId)" style="text-decoration: none;">
                                            <span class="logout-text">(@(Model.requests[i].Count ?? 0)) Documents</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    
                    
                    
                </div>
            </div>
        </div>


    </div>

    <script>

        function changeBackgroundColor(radioButtonId) {
            var radioButton = document.getElementById(radioButtonId);
            if (radioButton.checked) {
                radioButton.parentElement.classList.add('active');
            } else {
                radioButton.parentElement.classList.remove('active');
            }
        }

        // to add or remove create-request-active page
        const toggleButton = (redirect_page) => {
            const buttons = document.getElementsByClassName("common-btn")
            for (let i = 0; i < buttons.length; ++i) {
                if (buttons[i].classList.length == 5) {
                    buttons[i].classList.remove('create-request-active')
                }
                else {
                    buttons[i].classList.add('create-request-active')
                }
            }
            document.getElementById("redirect-value").value = redirect_page;
        }


        var btn_me = document.getElementById("me-link");
        var btn_else = document.getElementById("else-link");
        var link_me = document.getElementById("me_link");
        var link_else = document.getElementById("else_link");
        function toggleMe() {
            if (btn_me.classList.contains("selected")) {
                btn_else.classList.remove("selected");
            }
            else {
                btn_me.classList.add("selected");
                btn_else.classList.remove("selected");
            }
        }
        function toggleElse() {
            if (btn_else.classList.contains("selected")) {
                btn_me.classList.remove("selected");
            }
            else {
                btn_me.classList.remove("selected");
                btn_else.classList.add("selected");
            }
        }
        function selectForm() {

            if (btn_me.classList.contains("selected")) {
                link_me.click();
            }
            else {
                link_else.click();
            }
        }
    </script>
    
</div>
