@model HalloDoc.DataLayer.ViewModels.CreateRoleViewModel
@{
    ViewData["Title"] = "Create Role";
}
@section Styles{
    <link href="~/css/create-role.css" />
}



<body class="bg-light">
    <div class="bg-light" style="overflow: hidden;">
        <partial name="HeaderFooter" model="@Model.adminNavbarModel" />
        <partial name="Toast" />
        <div class="container">
            <div class="row">
                <div style="top: 42px; position: relative;" class="col">
                    <a class="float-end text-info mx-auto" id="backdesign" asp-controller="Admin" asp-action="AccountAccess" style="text-decoration: none;margin-right: 243px;border: 1px solid; border-radius: 7px; height: 40px;display: flex;align-items: center;justify-content: center;padding: 4px 4px 4px 1px;width: 69px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-chevron-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                        </svg>
                        Back
                    </a>
                </div>

                <div class="row">
                    <div class="col mt-2">
                        <p class="h5 text-muted fw-bold" id="heading-one">
                            Create Role
                        </p>
                    </div>
                </div>
            </div>

            <div class="bg-white mt-3">
                <div class="row">
                    <div class="col mt-2 ms-5">
                        <p class="h5 text-muted fw-bold" id="heading-one">
                            Details
                        </p>
                    </div>
                </div>
                <form method="post">
                    <div class="row mt-3">
                        <div class="col-sm-5 form-floating ms-5">
                            <input id="role-name" class="ai form-control" type="text" placeholder="Date Of Birth" asp-for="roleName">
                            <label for="floatingInput" class="ms-2 text-muted">Role Name</label>
                            <span asp-validation-for="roleName"></span>
                        </div>
                        <div class="col-sm-5 form-floating">
                            <select class="btn btn-outline-light dropdown-toggle text-secondary bg-white w-100 h-100" style="text-align:start" data-bs-toggle="dropdown" aria-expanded="false" name="RegionId" id="select-roles" onchange="fetchRoles()">
                                <label for="floatingInput" class="ms-2">Account Type</label>
                                <option value="Admin" selected>Admin</option>
                                <option value="Physician">Physician</option>
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-10 mx-5" id="admin-roles">
                            @foreach (var item in Model.allRoles)
                            {
                                if (item.AccountType == 1)
                                {
                                    <div class="d-inline-block mb-1">
                                        <input type="text" asp-for="@item.MenuId" class="menu-id-input" hidden>
                                        <input class="checkboxes mycheckbox" type="checkbox" style="height: 15px;width: 15px;" />
                                        <span class="me-2">@item.Name</span>
                                    </div>
                                }
                            }
                        </div>

                        <div class="col-10 mx-5" id="physician-roles" style="display: none;">
                            @foreach (var item in Model.allRoles)
                            {
                                if (item.AccountType == 2)
                                {
                                    <div class="d-inline-block mb-1">
                                        <input type="text" asp-for="@item.MenuId" class="menu-id-input" hidden>
                                        <input class="checkboxes" type="checkbox" style="height: 15px;width: 15px;" />
                                        <span class="me-2">@item.Name</span>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-floating col mt-4 mb-4 lastbutton float-end" id="submitDivv">
                            <button type="button" class="btn btn-outline-info me-3 float-end" onclick="cancelRoles()">Cancel</button>
                            <button type="button" class="btn btn-info text-white float-end me-3" onclick="saveRoles()">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@

    <script>

        function fetchRoles() {
            const accountType = document.getElementById("select-roles").value;
            if (accountType == "Admin") {
                document.getElementById("admin-roles").style.display = "block";
                document.getElementById("physician-roles").style.display = "none";
            }
            else {
                document.getElementById("admin-roles").style.display = "none";
                document.getElementById("physician-roles").style.display = "block";
            }
            $(".mycheckbox").empty();
        }

        function saveRoles() {
            var selectedMenuId = [];
            var checkedBoxes = document.querySelectorAll('.checkboxes:checked');
            if (checkedBoxes.length == 0) {
                alert("No checkboxes are selected!");
                return;
            }

            for (var i = 0; i < checkedBoxes.length; i++) {
                var currentCheckBox = checkedBoxes[i];
                var menuIdValue = currentCheckBox.parentElement.querySelector('.menu-id-input').value;
                console.log(menuIdValue);
                selectedMenuId.push(menuIdValue);
            }
            var menuIdStr = selectedMenuId.join(',');
            console.log(menuIdStr);
            $.ajax({
                url: '/Admin/CreateNewRole',
                type: 'POST',
                dataType: 'html',
                data: {
                    roleName: document.getElementById("role-name").value, acType: document.getElementById("select-roles").value, menuIdString: menuIdStr
                },
                success: function (response) {
                    console.log("hey");
                },
                error: function () {
                    alert("An error occurred");
                }
            });
            console.log("Hello");
        }

        function cancelRoles() {
            var checkedBoxes = document.querySelectorAll('.checkboxes:checked');
            if (checkedBoxes.length == 0) {
                alert("No roles are selected!");
                return;
            }

            for (var i = 0; i < checkedBoxes.length; i++) {
                checkedBoxes[i].checked = false;
            }
        }
    </script>
</body>


