@model AdminProfile
@{
    ViewData["Title"] = "Create Admin Account";
    <parital name="_ValidationScriptsPartial" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
@section Scripts {
    @{
         <partial name="_ValidationScriptsPartial" />
    }
}

<style>
    .accordion-button::after {
        display: none; /* Hide the default arrow */
    }

    #Signature::-webkit-file-upload-button {
        display: none;
    }

    #Photo::-webkit-file-upload-button {
        display: none;
    }

    #contract::-webkit-file-upload-button {
        display: none;
        visibility: hidden;
    }

    #backdesign {
        border-radius: 5px;
        border: 2px solid #84D3E6;
        padding: 8px;
        min-width: 80px;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0);
    }

    input:focus {
        outline: #3DB6FF !important;
        /*border: 2px solid white !important;*/
        box-shadow: none !important;
        border-color: #3DB6FF !important;
        /*color: red !important;*/
    }

    textarea:focus {
        outline: none !important;
        border-color: #3DB6FF !important;
        box-shadow: none !important;
    }


    .form-floating:focus-within label {
        color: #3DB6FF !important;
    }

    select:focus{
        outline: #3DB6FF !important;
        /*border: 2px solid white !important;*/
        box-shadow: none !important;
        border-color: #3DB6FF !important;
        /*color: red !important;*/
    }

    .iti input {
        width: 100% !important;
        height: 58px;
    }


    .iti {
        display: block !important;
    }
</style>

<body class="bg-light">
    <div class="bg-light" style="overflow: hidden;">
        <partial name="Toast" />
        <partial name="HeaderFooter" model="@Model.an" />

        <div class="container mt-4 shadowalign-content-lg-around bg-muted rounded">
            <div class="row">
                <div style="top: 27px; position: relative;" class="col">
                    <a class="float-end text-info mx-auto" id="backdesign" asp-controller="Admin" asp-action="UserAccess" style="text-decoration: none;margin-right: 243px;border: 1px solid; border-radius: 7px; height: 40px;display: flex;align-items: center;justify-content: center;padding: 4px 4px 4px 1px;width: 69px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-chevron-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                        </svg>
                        Back
                    </a>
                </div>

                <div class="row">
                    <div class="col">
                        <p class="h5 text-muted fw-bold" id="heading-one">
                            Create Admin Account
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <form method="post" asp-action="CreateNewAdminAccount" asp-controller="Admin" onsubmit="checkRegions()">

            <div class="container mt-2 shadow-lg p-3 mb-5 bg-muted rounded" id="main-container">
                <div class="row">
                    <div class="col mt-4">
                        <p class="h5 text-muted fw-bold ms-1" id="heading-one">
                            Account Information
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="form-floating col-sm-4 mt-3">
                        <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="Username" disabled>
                        <label for="floatingInput" class="ms-2 text-muted class-for-label">Username (LastName.F)</label>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-sm-4 mt-3">
                        <input class="form-control" type="password" asp-for="Password" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-sm-4 mt-3">
                        <select class="form-select mb-3 update1" id="Role" asp-for="roleId">
                            @foreach (var item in Model.allRoles)
                            {
                                if (item.AccountType == 1)
                                {
                                    <option value="@item.RoleId">@item.Name</option>
                                }
                            }
                        </select>
                        <label for="Role" class="ms-2 text-muted">Role</label>
                        <span asp-validation-for="roleId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col mt-4">
                        <p class="h5 text-muted fw-bold ms-1" id="heading-one">
                            Administrator Information
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating col-sm-6 mt-3">
                        <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="firstName">
                        <label for="floatingInput" class="ms-2 text-muted class-for-label">First Name</label>
                        <span asp-validation-for="firstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-sm-6 mt-3">
                        <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="lastName">
                        <label for="floatingInput" class="ms-2 text-muted class-for-label">Last Name</label>
                        <span asp-validation-for="lastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-floating col-sm-6 mt-3">
                        <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="email">
                        <label for="floatingInput" class="ms-2 text-muted class-for-label">Email</label>
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>

                    <div class="form-floating col-sm-6 mt-3">
                        <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="confEmail">
                        <label for="floatingInput" class="ms-2 text-muted class-for-label">Confirm Email</label>
                        <span asp-validation-for="confEmail" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-floating col-sm-6 mt-3">
                        <input id="phone" class="form-control" type="tel" asp-for="phone" required />
                        <span asp-validation-for="phone" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-sm-6 mt-3">
                        @foreach (var item in Model.allRegions)
                        {
                            <input class="region-check px-1" type="checkbox" id="checkedRegions" name="regionNames" value="@item.RegionId" onchange="isChecked()" />
                            <span class="me-2">@item.Name</span>
                        }
                        <span class="text-danger" style="display: none;" id="regionCheckError">Please select atleast one region</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col mt-4">
                        <p class="h5 text-muted fw-bold ms-1" id="heading-one">
                            Mailing and Billing Information
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="form-floating col-sm-6 mt-3">
                        <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="address1">
                        <label for="floatingInput" class="ms-2 text-muted class-for-label">Address 1</label>
                        <span asp-validation-for="address1" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-sm-6 mt-3">
                        <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="address2">
                        <label for="floatingInput" class="ms-2 text-muted class-for-label">Address 2</label>
                        <span asp-validation-for="address2" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-floating col-sm-6 mt-3">
                        <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="city">
                        <label for="floatingInput" class="ms-2 text-muted class-for-label">City</label>
                        <span asp-validation-for="city" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-sm-6 mt-3">
                        <select class="form-select mb-3 update1" id="Role" asp-for="regionId">
                            @foreach (var item in Model.allRegions)
                            {
                                <option value="@item.RegionId">@item.Name</option>
                            }
                        </select>
                        <label for="Role" class="ms-2 text-muted">Select State</label>
                        <span asp-validation-for="regionId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-floating col-sm-6 mt-3">
                        <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="zipcode">
                        <label for="floatingInput" class="ms-2 text-muted class-for-label">Zip</label>
                        <span asp-validation-for="zipcode" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-sm-6 mt-3">
                        <input id="phone1" class="form-control" type="tel" asp-for="mailingPhoneNo" required />
                        <span asp-validation-for="mailingPhoneNo" class="text-danger"></span>
                    </div>
                    <div class="form-floating col mt-4 lastbutton float-end" id="submitDivv">
                        <button type="submit" class="btn btn-success float-end me-3">Create Account</button>
                    </div>
                </div>


            </div>
        </form>

    </div>


</body>

<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        innerHeight: 1,
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    const phoneInputField1 = document.querySelector("#phone1");
    const phoneInput1 = window.intlTelInput(phoneInputField1, {
        innerHeight: 1,
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    function getRoleVal() {
        console.log("Hello");
        document.getElementById("hiddenRole").value = document.getElementById("roleVal").value
    }

    function checkRegions()
    {
        debugger;
        var regions = document.getElementById("checkedRegions").value;
        console.log("Regions: " + regions)
        if(regions!=null && regions!="")
        {
            document.getElementById("regionCheckError").style.display = "block";
            return false;
        }
        return true;
    }

    function isChecked()
    {
        var regions = document.getElementById("checkedRegions").value;
        console.log("Regions: " + regions)
        if (regions != null && regions != "") {
            document.getElementById("regionCheckError").style.display = "block";
        }
        else{
            document.getElementById("regionCheckError").style.display = "none";
        }
    }

</script>