@model HalloDoc.DataLayer.ViewModels.AdminProfile
@{
    ViewData["Title"] = "My Profile";
}

@section Styles {
    <link href="~/css/view-case.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <partial name="_ValidationScriptsPartial"/>
}

<div>
    <partial name="Toast" />

    <partial name="HeaderFooter" model="@Model.an" />

    <div class="container w-50 d-flex justify-content-between align-items-center mt-4">
        <div class="col-6 ms-0 fw-bold" style="margin-left: -10px !important;">
            <span class="h4">
                My Profile
            </span>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a class="text-info" id="backdesign" asp-controller="Admin" asp-action="AdminDashboard"
               style="text-decoration: none;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                     class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg>
                Back
            </a>
        </div>
    </div>

    <div class="container mt-4 shadow-lg p-3 mb-5 bg-white rounded w-50" id="main-container">
        <form method="post" asp-action="ProfilePasswordReset" asp-controller="Admin" asp-route-aid="@Model.adminId">
            <div class="row">
                <div class="col ms-3 mt-3 h5">Account Information</div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-6 form-floating">
                    <input type="text" asp-for="adminId" hidden />
                    <input id="username" class="form-control" type="text" placeholder="Date Of Birth" asp-for="Username" disabled>
                    <label for="floatingInput" class="ms-2 text-muted">User Name</label>
                </div>
                <div class="col-sm-6 form-floating">
                    <input id="pass" class="form-control" type="password" placeholder="Date" asp-for="Password">
                    <label for="floatingInput" class="ms-2 text-muted">Password</label>
                    <svg onclick="onpress()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#54B4D3"
                         class="bi bi-eye person-icon hide-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                    </svg>
                    <svg onclick="onpress()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#54B4D3"
                         class="bi bi-eye-slash person-icon hide-eye" viewBox="0 0 16 16" id="hidden-eye">
                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                        <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                    </svg>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-6 form-floating">
                    <select class="form-select" aria-label="Default select example" disabled>
                        <option selected>Active</option>
                        <option value="1">New</option>
                        <option value="2">Pending</option>
                        <option value="3">To-Close</option>
                        <option value="4">Conclude</option>
                        <option value="5">Unpaid</option>
                    </select>
                </div>
                <div class="col-sm-6 form-floating">
                    <select class="form-select" aria-label="Default select example" disabled>
                        <option selected>Master Admin</option>
                        <option value="1">Admin</option>
                        <option value="2">Pending</option>
                        <option value="3">To-Close</option>
                        <option value="4">Conclude</option>
                        <option value="5">Unpaid</option>
                    </select>
                </div>
            </div>

            <div class="row mt-3 d-flex justify-content-end align-items-end">
                <div class="col-sm-2 mt-4 d-inline-block w-auto" style="margin-bottom: 16px;">
                    <button type="submit" class="btn border-info text-info" id="resetPasswordButton" style="padding: 5px;">Reset Password</button>
                </div>
            </div>
        </form>

        <form method="post" asp-controller="Admin" asp-action="ProfileAdministratorInfo" asp-route-aid="@Model.adminId">

            <div class="row mt-3">
                <div class="col ms-3 mt-3 h5">Administrator Information</div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-6 form-floating">
                    <input id="firstname" class="ai form-control" type="text" placeholder="Date Of Birth" asp-for="firstName" disabled>
                    <label for="floatingInput" class="ms-2 text-muted">First Name</label>
                </div>
                <div class="col-sm-6 form-floating">
                    <input id="lastName" class="ai form-control" type="text" placeholder="Date" asp-for="lastName" disabled>
                    <label for="floatingInput" class="ms-2 text-muted">Last Name</label>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-6 form-floating">
                    <input id="email" class="ai form-control" type="text" placeholder="Date Of Birth" asp-for="email" disabled>
                    <label for="floatingInput" class="ms-2 text-muted">Email</label>
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="col-sm-6 form-floating">
                    <input id="confemail" class="ai form-control" type="text" placeholder="Date" asp-for="confEmail" disabled>
                    <label for="floatingInput" class="ms-2 text-muted">Confirm Email</label>
                    <span asp-validation-for="confEmail" class="text-danger"></span>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-6 form-floating">
                    <input id="phone" class="ai form-control" type="tel" asp-for="phone" disabled style="height: 58px;" />
                    <span asp-validation-for="phone" class="text-danger"></span>
                </div>
                <div class="col-sm-6 form-floating">
                    @foreach (var item in Model.allRegions)
                    {
                        <input class="region-check" type="checkbox" @(Model.regionOfAdmin.Any(r => r.Region.Name == item.Name) ? "checked" : "") disabled value="@item.RegionId" />
                        <span>@item.Name</span>
                    }
                </div>
                <div>
                    <input type="hidden" id="selectedRegion" name="selectedRegion" />
                </div>
            </div>

            <div class="row mt-3 d-flex justify-content-end align-items-end">
                <div class="col-sm-2 mt-4 d-none w-auto flex-row mx-0" id="save-2-div">
                    <button type="submit" class="btn btn-info mb-3" id="saveButton2" style="padding: 5px;">Save</button>
                </div>
                <div class="col-sm-2 mt-4 d-none w-auto" id="cancel-2-div" style="width: 86px; margin-bottom: 16px;">
                    <a class="btn border-info text-info" id="cancelButton2">Cancel</a>
                </div>
                <div class="col-sm-2 mt-4 d-inline-block w-auto" id="editDiv2" style="margin-bottom: 16px;">
                    <button type="button" class="btn btn-info mb-3" id="editButton2">Edit</button>
                </div>
            </div>
        </form>

        <form method="post" asp-controller="Admin" asp-action="ProfileMailingInfo" asp-route-aid="@Model.adminId">

            <div class="row mt-3">
                <div class="col ms-3 mt-3 h5">Mailing and Billing Information</div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-6 form-floating">
                    <input id="add1" class="mbi form-control" type="text" placeholder="Date Of Birth" asp-for="address1" disabled>
                    <label for="floatingInput" class="ms-2 text-muted">Address 1</label>
                </div>
                <div class="col-sm-6 form-floating">
                    <input id="add2" class="mbi form-control" type="text" placeholder="Date" asp-for="address2" disabled>
                    <label for="floatingInput" class="ms-2 text-muted">Address 2</label>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-6 form-floating">
                    <input id="city" class="mbi form-control" type="text" placeholder="Date Of Birth" asp-for="city" disabled>
                    <label for="floatingInput" class="ms-2 text-muted">City</label>
                </div>
                <div class="col-sm-6 form-floating">
                    <select class="mbi form-select" aria-label="Default select example" disabled>
                        <option value="-1" class="bg-white" selected>Select Region</option>
                        @foreach (var item in Model.regionOfAdmin)
                        {
                            <option value="@item.RegionId" class="bg-white">@item.Region.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-6 form-floating">
                    <input id="zipcode" class="mbi form-control" type="text" placeholder="Date Of Birth" asp-for="zipcode" disabled>
                    <label for="floatingInput" class="ms-2 text-muted">Zipcode</label>
                </div>
                <div class="col-sm-6 form-floating">
                    <input id="phone1" class="mbi form-control" type="tel" asp-for="altPhoneNo" disabled style="height: 58px;" />
                </div>
            </div>

            <div class="row mt-3 d-flex justify-content-end align-items-end">
                <div class="col-sm-2 mt-4 d-none w-auto flex-row mx-0" id="save-3-div">
                    <button type="submit" class="btn btn-info mb-3" id="saveButton3" style="padding: 5px;">Save</button>
                </div>
                <div class="col-sm-2 mt-4 d-none w-auto" id="cancel-3-div" style="margin-bottom: 16px;">
                    <a class="btn border-info text-info" id="cancelButton3">Cancel</a>
                </div>
                <div class="col-sm-2 mt-4 d-inline-block w-auto" id="editDiv3" style="width: 86px; margin-bottom: 16px;">
                    <button type="button" class="btn btn-info mb-3" id="editButton3">Edit</button>
                </div>
            </div>
        </form>


    </div>
</div>

<script>

    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        innerHeight: 1,
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    const phoneInputField1 = document.querySelector("#phone1");
    const phoneInput1 = window.intlTelInput(phoneInputField1, {
        innerHeight: 1,
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    

    var second_part = document.getElementsByClassName("ai");
    var rc = document.getElementsByClassName("region-check");
    console.log(rc.length);

    /*edit, save and cancel of 2nd part */
    document.getElementById("editButton2").addEventListener("click", function () {
        console.log("hey");
        document.getElementById("editButton2").style.display = "none";
        document.getElementById("cancel-2-div").classList.remove("d-none");
        document.getElementById("save-2-div").classList.remove("d-none");
        for (var i = 0; i < second_part.length; i++) {
            second_part[i].removeAttribute('disabled');
        }
        for (var i = 0; i < rc.length; i++) {
            rc[i].removeAttribute('disabled');
        }
    });

    document.getElementById("cancelButton2").addEventListener("click", function () {
        document.getElementById("editButton2").style.display = "flex";
        document.getElementById("cancel-2-div").classList.add("d-none");
        document.getElementById("save-2-div").classList.add("d-none");
        for (var i = 0; i < second_part.length; i++) {
            second_part[i].setAttribute('disabled', true);
        }
        for (var i = 0; i < rc.length; i++) {
            rc[i].setAttribute('disabled', true);
        }
    });

    var third_part = document.getElementsByClassName("mbi");

    /*edit, save and cancel of 3rd part */
    document.getElementById("editButton3").addEventListener("click", function () {
        document.getElementById("cancelButton3").style.display = "flex";
        document.getElementById("saveButton3").style.display = "flex";
        document.getElementById("editButton3").style.display = "none";
        document.getElementById("cancel-3-div").classList.remove("d-none");
        document.getElementById("save-3-div").classList.remove("d-none");
        for (var i = 0; i < third_part.length; i++) {
            third_part[i].removeAttribute("disabled");
        }
    });

    document.getElementById("cancelButton3").addEventListener("click", function () {
        document.getElementById("cancelButton3").style.display = "none";
        document.getElementById("saveButton3").style.display = "none";
        document.getElementById("editButton3").style.display = "flex";
        for (var i = 0; i < third_part.length; i++) {
            third_part[i].setAttribute("disabled", true);
        }
    });

    let eye = false;
    function onpress() {
        if (!eye) {
            document.getElementsByClassName('person-icon')[1].classList.add('hide-eye');
            document.getElementsByClassName('person-icon')[0].classList.remove('hide-eye');
            document.getElementById('pass').type = "text";
            eye = true;
        } else {
            document.getElementsByClassName('person-icon')[1].classList.remove('hide-eye');
            document.getElementsByClassName('person-icon')[0].classList.add('hide-eye');
            document.getElementById('pass').type = "password";
            eye = false;
        }
    }


    document.getElementById("saveButton2").addEventListener("click", function () {
        var selectedRegions = []; // Clear any previous selections
        document.querySelectorAll('input[type="checkbox"]:checked').forEach(checkbox => {
            selectedRegions.push(parseInt(checkbox.value));
        });

        document.getElementById('selectedRegion').value = selectedRegions.join(',');
    })

</script>