@model HalloDocMvc.Entity.ViewModel.ViewNotes
@{
    ViewData["Title"] = "View Notes";
}

@section Styles {
    <link href="~/css/view-case.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
}
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
}



<div>
    <nav class="d-flex justify-content-between Nav border-bottom border-dark-subtle w-100 sticky-top bg-light">
        <button class="navbar-toggler d-flex d-md-none" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <i class="bi bi-layout-sidebar mt-4 ms-3" style="height: 20px; width: 20px;"></i>
        </button>
        <div class="d-flex gap-1 align-items-center">

            <img src="~/images/logo1.png" class="Image ps-1 pt-1 ms-5 d-none d-sm-flex" alt="Patient"
                 style="height: 80px;" />
            <div>
                <img src="~/images/logo1.png" class="d-sm-none d-flex align-items-center" alt="Patient"
                     style="height: 80px;" />

            </div>
        </div>
        <div class="d-flex align-items-center gap-1 flex-wrap">
            <p class="fw-light p-0 text-muted fw-semibold me-4 d-none d-sm-inline-block"
               style="margin-top: 20px !important;">welcome <strong> Ishan Bhatt</strong></p>
            <a class="btn btn-outline-info d-none d-sm-flex mt-1" asp-controller="Login" asp-action="PatientSite"
               style="margin-right:100px;">Logout</a>
            <a class="btn btn-outline-info d-inline-block d-sm-none logout-icon" asp-controller="Login"
               asp-action="PatientSite">
                <i class="bi bi-box-arrow-right"></i>
            </a>
            <div class="moon-flex d-none d-sm-flex">
                <button onclick="changeTheme()" class="change-theme">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-moon night-mode-icon" viewBox="0 0 16 16">
                        <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                    </svg>
                </button>
                <button onclick="changeTheme()" class="change-theme hide-icon">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-brightness-high night-mode-icon" viewBox="0 0 16 16">
                        <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708" />
                    </svg>
                </button>
            </div>
            <div class="moon-flex d-sm-none d-flex flex-shrink-1 flex-sm-shrink-0">
                <button onclick="changeTheme()" class="change-theme-mobile-view">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-moon night-mode-icon-mobile" viewBox="0 0 16 16">
                        <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                    </svg>
                </button>
                <button onclick="changeTheme()" class="change-theme-mobile-view hide-icon">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-brightness-high night-mode-icon-mobile" viewBox="0 0 16 16">
                        <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708" />
                    </svg>
                </button>
            </div>
        </div>


    </nav>

    <nav class="shadow collpase d-none d-md-flex navbar-div" id="collapseExample">
        <div class="nav nav-underline container-fluid ms-5" id="nav-tab" role="tablist">
            <div class="nav-link active text-info ps-3 pe-3" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Dashboard</div>
            <a class="nav-link text-muted ms-4" id="nav-profile-tab" asp-controller="Login" role="tab" aria-controls="nav-profile" aria-selected="false" asp-action="PatientProfile">Provider Location</a>
            <a class="nav-link text-muted ms-4" id="nav-profile-tab" asp-controller="Login" role="tab" aria-controls="nav-profile" aria-selected="false" asp-action="PatientProfile">My Profile</a>
            <a class="nav-link text-muted ms-4" id="nav-profile-tab" asp-controller="Login" role="tab" aria-controls="nav-profile" aria-selected="false" asp-action="PatientProfile">Providers</a>
            <a class="nav-link text-muted ms-4" id="nav-profile-tab" asp-controller="Login" role="tab" aria-controls="nav-profile" aria-selected="false" asp-action="PatientProfile">Partners</a>
            <a class="nav-link text-muted ms-4" id="nav-profile-tab" asp-controller="Login" role="tab" aria-controls="nav-profile" aria-selected="false" asp-action="PatientProfile">Access</a>
            <a class="nav-link text-muted ms-4" id="nav-profile-tab" asp-controller="Login" role="tab" aria-controls="nav-profile" aria-selected="false" asp-action="PatientProfile">Records</a>
        </div>
    </nav>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <a class="nav-link active text-info mb-4" id="nav-home-tab" asp-controller="Home" role="tab"
               aria-controls="nav-home" aria-selected="true" asp-action="Admin_dashboard">
                Dashboard
            </a>
            <a class="nav-link text-info mb-4" id="nav-profile-tab" asp-controller="Home" role="tab"
               aria-controls="nav-profile" aria-selected="false" asp-action="ProviderLocation">
                Provider Location
            </a>
            <a class="nav-link text-info mb-4" id="nav-Location-tab" asp-controller="Home" role="tab"
               aria-controls="nav-Location" aria-selected="false" asp-action="MyProfile">
                My Profile
            </a>
            <a class="nav-link text-info mb-4" id="nav-Location-tab" asp-controller="Home" role="tab"
               aria-controls="nav-Location" aria-selected="false" asp-action="Providers">
                Providers
            </a>
            <a class="nav-link text-info mb-4" id="nav-Location-tab" asp-controller="Home" role="tab"
               aria-controls="nav-Location" aria-selected="false" asp-action="Partners">
                Partners
            </a>
            <a class="nav-link text-info mb-4" id="nav-Location-tab" asp-controller="Home" role="tab"
               aria-controls="nav-Location" aria-selected="false" asp-action="Access">
                Access
            </a>
            <a class="nav-link text-info mb-4" id="nav-Location-tab" asp-controller="Home" role="tab"
               aria-controls="nav-Location" aria-selected="false" asp-action="Records">
                Records
            </a>
        </div>
    </div>

    <div class="container-md">
        <div class="d-flex justify-content-between my-3 back">
            <h5 class="card-title ms-5">Notes</h5>
            <a asp-controller="Admin" asp-action="AdminDashboard">
                <button class=" btn btn-outline-info px-3 py-2">
                    <i class="fa-solid fa-chevron-left me-1"></i>Back
                </button>
            </a>
        </div>
        <div class="card mx-5 border border-0">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" asp-action="EditViewNotes" asp-controller="Admin">
                    

                    <div class="row d-flex">
                        <div class="col-md-6 mb-3">
                            <div class="d-flex rounded shadow border p-3 gap-2">
                                <i class="bi bi-arrow-left-right fw-bold mt-1"></i>
                                <div>
                                    <p class="fs-6 fw-bold p-1 m-0">Transfer Notes</p>
                                    @if (Model != null)
                                    {
                                        <small class="text-muted mb-1">Admin Transfered to Dr. @Model.PhyName on @Model.CreatedDate.ToString("dd/MM/yyyy") at @Model.CreatedDate.ToString("HH:mm:ss tt") : @Model.Notes</small>
                                    }
                                    else
                                    {
                                        <small class="text-muted mb-1">-</small>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="d-flex rounded shadow border p-3 gap-2 ">
                                <i class="bi bi-person-rolodex fw-bold mt-1"></i>
                                <div>
                                    <p class="fs-6 fw-bold m-0 p-1">Physician Notes</p>
                                    <small class="text-muted mb-1">@Model.PhysicianNotes</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="d-flex rounded shadow border p-3 gap-2">
                                <i class="bi bi-person-fill fw-bold mt-1"></i>
                                <div>
                                    <p class="fs-6 fw-bold m-0 p-1">Admin Notes</p>
                                    <small class="text-muted mb-1"> @Model.AdminNotes </small>
                                </div>
                            </div>
                        </div>
                    </div>


                    
                    
                        <input type="number" hidden value="@Model.RequestId" asp-for="RequestId"/>
                        <div class="form-group m-3">
                            <textarea asp-for="AdminNotes" class="form-control border border-info" id="exampleFormControlTextarea1" rows="5"></textarea>
                        </div>
                        <div class="d-flex justify-content-end mx-3">
                            <button class="btn btn-info text-white" type="submit">Save Changes</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>

    <script>
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            innerHeight: 1,
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    </script>

    <script>

    </script>

</div>

