@model Assignment.Models.ViewModels.IndexViewModel


@if(Model.hvm.Count == 0)
{
    <p class="h4 text-center">No Data Available.</p>
}

@if(Model.hvm.Count > 0)
{
    <div class="table-responsive">
        <table class="table mt-4">
            <thead>
                <tr>
                    <th class="text-muted">Task ID</th>
                    <th class="text-muted">Task Name</th>
                    <th class="text-muted">Asignee</th>
                    <th class="text-muted">Description</th>
                    <th class="text-muted">Due Date</th>
                    <th class="text-muted">Category</th>
                    <th class="text-muted">City</th>
                    <th class="text-muted">Action</th>
                </tr>
            </thead>

            @foreach (var item in Model.hvm)
            {
                <tr>
                    <td>@item.singleTask.Id</td>
                    <td>@item.singleTask.TaskName</td>
                    <td>@item.singleTask.Assignee</td>
                    <td>@item.singleTask.Description</td>
                    <td>@DateOnly.FromDateTime((DateTime)@item.singleTask.DueDate).ToString("MMM dd, yyyy")</td>
                    <td>@item.categoryName</td>
                    <td>@item.singleTask.City</td>
                    <td>
                        <button class="btn text-white mb-2" type="button" style="background: #7CA28D" onclick="editTaskModal('@item.singleTask.Id')">Edit</button>
                        <a class="btn btn-danger text-white mb-2 text-decoration-none" type="button" asp-action="DeleteTask" asp-controller="Home" asp-route-id="@item.singleTask.Id">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>

}

@if(Model.hvm.Count > 0)
{
    <div class="pagination d-flex flex-wrap mt-3 mb-3">
        <span class="me-2">Page No: </span>
        @if (Model.CurrentPage > 1)
        {
            <a style="color:#00ccff !important; cursor: pointer !important" data-page="@(Model.CurrentPage - 1)" class="mx-4 text-decoration-none pagination-text">Previous</a>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a style="color:#00ccff !important; cursor: pointer !important" data-page="@i" class="@(i == Model.CurrentPage ? "pagination-active" : "") mx-4 text-decoration-none pagination-text">@i</a>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <a style="color:#00ccff !important; cursor: pointer !important;" data-page="@(Model.CurrentPage + 1)" class="mx-4 text-decoration-none pagination-text">Next</a>
        }
    </div>
}

<script>
    $(document).ready(function () {
        $('.pagination a').click(function (e) {
            e.preventDefault();
            //console.log("hiiiiiii");
            var page = $(this).attr('data-page');

            filter(page, 10);
        });
    });
</script>