@model HalloDoc.DataLayer.ViewModels.AdminDashboardTableView

@*Message Offcanvas*@
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasSide" aria-labelledby="offcanvasSideLabel">
    <div class="offcanvas-header bg-info text-light">
        <h4 class="text-white" id="offcanvasSideLabel">Chat</h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" id="ChatContainer">
        <div class="Chat-Container">
            <ul id="messagesList" class="chat-messages d-flex flex-column" style="height:80vh;">
            </ul>
            <form id="messageForm">
                <div class="d-flex gap-2 position-absolute w-100 bottom-0 mb-2">
                    <div class="form-floating" style="width:310px;">
                        <textarea class="form-control" placeholder="Type A Message" id="messageInput"></textarea>
                        <label for="messageInput">Type A Message</label>
                    </div>
                    <button class="btn btn-info text-white" onclick="ViewMessage(); return false;"><i class="bi bi-send m-2"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

<form asp-action="DownloadSpecificExcel" asp-controller="Admin" method="post">
    @Html.HiddenFor(m => m.status)
    @for (int i = 0; i < Model.regions.Count; i++)
    {
        @Html.HiddenFor(m => m.regions[i].Name)
        @Html.HiddenFor(m => m.regions[i].RegionId)
    }
    @for (int i = 0; i < Model.requests.Count; i++)
    {
        @Html.HiddenFor(m => m.requests[i].FirstName)
        @Html.HiddenFor(m => m.requests[i].LastName)
        @Html.HiddenFor(m => m.requests[i].PhoneNumber)
        @Html.HiddenFor(m => m.requests[i].RequestTypeId)
        @Html.HiddenFor(m => m.requests[i].RequestClient.FirstName)
        @Html.HiddenFor(m => m.requests[i].RequestClient.LastName)
        @Html.HiddenFor(m => m.requests[i].RequestClient.PhoneNumber)
        @Html.HiddenFor(m => m.requests[i].RequestClient.Street)
        @Html.HiddenFor(m => m.requests[i].RequestClient.Address)
        @Html.HiddenFor(m => m.requests[i].RequestClient.ZipCode)
        @Html.HiddenFor(m => m.requests[i].RequestClient.State)
        @Html.HiddenFor(m => m.requests[i].RequestClient.City)
        @Html.HiddenFor(m => m.requests[i].CreatedDate)
        @Html.HiddenFor(m => m.requests[i].RequestClient.IntYear)
        @Html.HiddenFor(m => m.requests[i].RequestClient.StrMonth)
        @Html.HiddenFor(m => m.requests[i].RequestClient.IntDate)
        @Html.HiddenFor(m => m.requests[i].Physician.FirstName)
        for (int j = 0; j < Model.requests[i].RequestStatusLogs.ToList().Count; ++j)
        {
            @Html.HiddenFor(m => m.requests[i].RequestStatusLogs.ToList()[j].Status)
            @Html.HiddenFor(m => m.requests[i].RequestStatusLogs.ToList()[j].CreatedDate)
            @Html.HiddenFor(m => m.requests[i].RequestStatusLogs.ToList()[j].Notes)

        }
    }
    <button type="submit" class="d-none" id="submit-button-for-excel">Submit</button>
</form>

<div id="myModal6" class="modal6">
    <div class="modal-content6" style="width:80%;margin-top:201px;height:50%">
        <h5 style="text-align: center;">Your Location</h5>
        <div class="gmap_canvas" style="height:80%;width:100%">
            <iframe id="gmap_canvas" style="height:95%;width:100%;border-radius:15px;" src="" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
        </div>
        <span class="close6">Ok</span>
    </div>
</div>

<div class="table-responsive d-none d-md-block">
    @if (Model.requests.Count == 0)
    {
        <p class="h4 text-center">No Data Available.</p>
    }
    @if (Model.requests.Count > 0)
    {

        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="table-header">
                        Name
                    </th>
                    <th></th>
                    @if (Model.status != "Unpaid" && Model.an.roleName == "Admin")
                    {
                        <th>Date Of Birth</th>
                    }
                    @if (Model.an.roleName == "Admin" && (Model.status == "New" || Model.status == "Pending" || Model.status == "Active"))
                    {
                        <th>Requestor</th>
                    }
                    @if (Model.an.roleName == "Admin" && Model.status != "New")
                    {
                        <th>Physician Name</th>
                        <th>Date Of Service</th>
                    }
                    @if (Model.an.roleName == "Admin" && Model.status == "New")
                    {
                        <th>Requested Date</th>
                    }
                    @if (Model.status != "ToClose")
                    {
                        <th style="min-width: 175px;">Phone</th>
                    }
                    <th>Address</th>
                    @if (Model.an.roleName == "Provider" && Model.status == "Active")
                    {
                        <th>Status</th>
                    }
                    @if (Model.an.roleName == "Admin" && (Model.status != "Conclude" || Model.status != "Unpaid"))
                    {
                        <th>Notes</th>
                    }
                    <th>Chat With</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="abcd">
                @foreach (var item in Model.requests)
                {
                    var statusClass = "";
                    var notes = "";
                    @if (item.RequestTypeId == 1)
                    {
                        statusClass = "patient";
                    }
                    else if (item.RequestTypeId == 4)
                    {
                        statusClass = "business";
                    }
                    else if (item.RequestTypeId == 2)
                    {
                        statusClass = "family";
                    }
                    else
                    {
                        statusClass = "concierge";
                    }
                    foreach (var stat in item.RequestStatusLogs)
                    {
                        if (stat.Status == 2)
                        {
                            notes = stat.Notes ?? "";
                        }
                    }
                    <tr class="@statusClass">
                        <td class="@statusClass first-col">@(string.Concat(item.RequestClient.FirstName, ',', item.RequestClient.LastName))</td>
                        <td class="@statusClass">
                            <svg xmlns="http://www.w3.org/2000/svg" style="padding:5px;border: 1px solid white;border-radius: 5px;margin: auto 5px;" width="30" height="30"
                                 fill="white" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                            </svg>
                        </td>
                        @if (Model.an.roleName == "Admin" && Model.status != "Unpaid")
                        {
                            int yearsDifference = (int)(DateTime.Now.Year - item.RequestClient.IntYear);
                            <td class="@statusClass">@(DateTime.Parse($"{item.RequestClient.IntYear}-{item.RequestClient.StrMonth}-{item.RequestClient.IntDate}").ToString("MMMM dd,yyyy"))(@yearsDifference.ToString())</td>
                        }
                        @if (Model.an.roleName == "Admin" && (Model.status == "New" || Model.status == "Pending" || Model.status == "Active"))
                        {
                            <td class="@statusClass">@(statusClass.Substring(0, 1).ToUpper() + statusClass.Substring(1).ToLower()) @(string.Concat(item.FirstName, ',', item.LastName))</td>
                        }
                        @if (Model.an.roleName == "Admin" && Model.status != "New")
                        {
                            <td class="@statusClass">Dr. @(item.Physician == null ? "" : item.Physician.FirstName)</td>
                        }
                        @if (Model.status == "New" && Model.an.roleName == "Admin")
                        {
                            <td class="@statusClass">@(item.CreatedDate.ToString("MMMM dd,yyyy"))</td>
                        }
                        @if (Model.an.roleName == "Admin" && Model.status != "New")
                        {
                            <td class="@statusClass"> @($"{item.AcceptedDate:MMM dd, yyyy}")</td>
                        }
                        @if (Model.status != "ToClose")
                        {
                            <td class="@statusClass">

                                <div class="phone-td w-75">
                                    <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 5px;" width="16" height="16" fill="white" class="bi bi-telephone" viewBox="0 0 16 16">
                                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                                    </svg>
                                    <a class="text-white text-decoration-none" href="tel:@item.RequestClient.PhoneNumber"><span class="td-data">@item.RequestClient.PhoneNumber</span></a>
                                </div>
                                <span class="td-data">(Patient)</span>

                                @if (item.RequestTypeId != 1)
                                {
                                    <div class="phone-td" style="width:75%">
                                        <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 5px;" width="16" height="16" fill="white" class="bi bi-telephone" viewBox="0 0 16 16">
                                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                                        </svg>
                                        <a class="text-white text-decoration-none" href="tel:@item.PhoneNumber"><span class="td-data">@item.PhoneNumber</span></a>
                                    </div>
                                    @($"({statusClass.Substring(0, 1).ToUpper() + statusClass.Substring(1).ToLower()})")
                                }

                            </td>
                        }
                        <td class="@statusClass" style="width: 80px !important;">@(item.RequestClient.Address == null ? string.Concat(item.RequestClient.Address, ',', item.RequestClient.Street, ',', item.RequestClient.City, ',', item.RequestClient.State, ',', item.RequestClient.ZipCode) : string.Concat(item.RequestClient.Street, ',', item.RequestClient.City, ',', item.RequestClient.State, ',', item.RequestClient.ZipCode))</td>
                        @if (Model.an.roleName == "Provider" && Model.status == "Active")
                        {
                            <td class="@statusClass">
                                @if (item.Status == 5)
                                {
                                    <a type="button" class="btn btn-info text-white" asp-action="ActiveToConclude" asp-controller="Admin" asp-route-id="@item.RequestId">House Call</a>
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </td>
                        }
                        @if (Model.status == "New")
                        {
                            @if (Model.an.roleName == "Admin")
                            {

                                <td class="@statusClass" style="width: 80px !important;">
                                    <span>-</span>
                                </td>
                            }
                        }
                        else if (Model.status != "Conclude" || Model.status != "Unpaid")
                        {
                            @if (Model.an.roleName == "Admin")
                            {
                                <td class="@statusClass" style="width: 80px !important">
                                    @foreach (var x in item.RequestStatusLogs)
                                    {
                                        <span>@x.Notes</span>
                                    }
                                </td>
                            }
                        }

                        <td class="@statusClass my-auto">
                            <button class="btn btn-outline-light" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSide" aria-controls="offcanvasSide"><i class="bi bi-person-workspace"></i>Admin</button>
                            @if(item.PhysicianId != null)
                            {
                                <button class="btn btn-outline-light mt-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSide" aria-controls="offcanvasSide"><i class="bi bi-person-workspace"></i>Provider</button>
                            }
                        </td>

                        <td class="@statusClass my-auto">
                            <div class="dropdown" style="height:100%;display:flex;">
                                <button class="dropbtn @statusClass">Action</button>
                                <div class="dropdown-content">
                                    @if (Model.status == "New" && Model.an.roleName == "Provider")
                                    {
                                        <a type="button" class="dropdown-item hover-dropdown-item mb-1 text-dark px-1" data-bs-toggle="modal" data-bs-target="#acceptCaseModal" href="#" onclick="acceptCaseData('@item.RequestId')">
                                            <div class="action-item">
                                                <img src="~/images/assign-case-image.svg" alt="" class="action-img me-1"><span>Accept</span>
                                            </div>
                                        </a>

                                        <a type="button" data-bs-toggle="modal" data-bs-target="#providerTransferModal" class="dropdown-item text-dark mb-1 hover-dropdown-item px-1" href="#" onclick="transferData('@item.RequestId')">
                                            <div class="action-item">
                                                <img src="~/images/clipboard.png" alt="" class="action-img me-1" style="height: 18px; width: 18px;"><span>Transfer</span>
                                            </div>
                                        </a>
                                    }

                                    @if (Model.status == "New" && Model.an.roleName == "Admin")
                                    {
                                        @if (item.PhysicianId == null)
                                        {
                                            <a type="button" href="#" class="dropdown-item hover-dropdown-item text-dark mb-1 px-1" data-bs-toggle="modal" data-bs-target="#example2Modal" onclick="assignCaseData('@item.RequestId')">
                                                <div class="action-item">
                                                    <img src="~/images/clipboard.png" alt="" class="action-img me-1" style="height: 18px; width: 18px;"><span>Assign Case</span>
                                                </div>
                                            </a>
                                        }
                                        <a type="button" href="#" class="dropdown-item hover-dropdown-item text-dark mb-1 px-1" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="cancelCaseData('@item.RequestId', '@item.RequestClient.FirstName', '@item.RequestClient.LastName')">
                                            <div class="action-item">
                                                <img src="~/images/x-mark.png" alt="" class="action-img me-1" style="height: 20px; width: 20px;"><span class="text-dark">Cancel Case</span>
                                            </div>
                                        </a>

                                    }

                                    @if (Model.status == "Pending" && Model.an.roleName == "Provider")
                                    {
                                        <a type="button" href="#" data-bs-toggle="modal" data-bs-target="#SendAgreementModal" class="dropdown-item mb-1 hover-dropdown-item text-dark px-1" onclick="sendAgreementData('@item.RequestId', '@item.RequestTypeId', '@item.RequestClient.Email', '@item.RequestClient.PhoneNumber')">
                                            <div class="action-item">
                                                <img src="~/images/send-agreement-image.svg" alt="" class="action-img me-1" style="height: 20px; width: 20px;"><span>Send Agreement</span>
                                            </div>
                                        </a>
                                    }

                                    @if (Model.an.roleName == "Provider" && Model.status == "Conclude")
                                    {
                                        <a class="dropdown-item mb-1 hover-dropdown-item px-1" asp-action="ConcludeCare" asp-controller="Provider" asp-route-id="@item.RequestId">
                                            <div class="action-item">
                                                <img src="~/images/view-case-image.png" alt="" class="action-img me-1" style="height: 20px; width: 22px;"><span>Conclude Care</span>
                                            </div>
                                        </a>
                                    }

                                    @if (Model.status == "New" || Model.status == "Pending" || Model.status == "Active" || Model.status == "Conclude" || Model.status == "ToClose" || Model.status == "Unpaid")
                                    {
                                        <a class="dropdown-item mb-1 hover-dropdown-item px-1" asp-action="ViewCase" asp-controller="Admin" asp-route-id="@item.RequestId">
                                            <div class="action-item">
                                                <img src="~/images/search-file.png" alt="" class="action-img me-2" style="height: 22px; width: 28px;"><span>View Case</span>
                                            </div>
                                        </a>
                                    }

                                    @if ((Model.status == "Pending" && Model.an.roleName == "Provider") || Model.status == "ToClose")
                                    {
                                        <a class="dropdown-item mb-1 hover-dropdown-item px-1" asp-controller="Admin" asp-action="ViewUploads" asp-route-id="@item.RequestId" onclick="viewUploadsData('@item.RequestId', '@item.RequestClient.FirstName', '@item.RequestClient.LastName')">
                                            <div class="action-item">
                                                <img src="~/images/document.png" alt="" class="action-img me-1" style="height: 21px; width: 22px;"><span>View Uploads</span>
                                            </div>
                                        </a>
                                    }

                                    @if ((Model.status == "Active" || Model.status == "Conclude") && Model.an.roleName == "Provider")
                                    {
                                        <a class="dropdown-item mb-1 hover-dropdown-item px-1" asp-controller="Admin" asp-action="ViewUploads" asp-route-id="@item.RequestId" onclick="viewUploadsData('@item.RequestId', '@item.RequestClient.FirstName', '@item.RequestClient.LastName')">
                                            <div class="action-item">
                                                <img src="~/images/document.png" alt="" class="action-img me-1" style="height: 21px; width: 22px;"><span>View Uploads</span>
                                            </div>
                                        </a>
                                    }

                                    @if (Model.status == "New" || Model.status == "Pending" || Model.status == "Active" || Model.status == "Conclude" || Model.status == "ToClose" || Model.status == "Unpaid")
                                    {
                                        <a class="dropdown-item mb-1 hover-dropdown-item px-1" asp-action="ViewNotes" asp-controller="Admin" asp-route-id="@item.RequestId">
                                            <div class="action-item">
                                                <img src="~/images/note.png" alt="" class="action-img me-1" style="height: 23px; width: 23px;"><span>View Notes</span>
                                            </div>
                                        </a>
                                    }

                                    @if (Model.status == "New" && Model.an.roleName == "Admin")
                                    {
                                        <a type="button" href="#" class="dropdown-item mb-1 text-dark hover-dropdown-item px-1" data-bs-toggle="modal" data-bs-target="#example3Modal" onclick="cancelCaseDataTwo('@item.RequestId', '@item.RequestClient.FirstName', '@item.RequestClient.LastName')">
                                            <div class="action-item">
                                                <img src="~/images/block.png" alt="" class="action-img me-1" style="height: 17px; width: 17px; margin-left: 2px;"><span>Block Patient</span>
                                            </div>
                                        </a>
                                    }

                                    @if (Model.status == "Pending" && Model.an.roleName == "Admin" || (Model.status == "Active" && Model.an.roleName == "Admin") || (Model.status == "Conclude" && Model.an.roleName == "Admin") || Model.status == "Unpaid")
                                    {
                                        <a class="dropdown-item mb-1 hover-dropdown-item px-1" asp-controller="Admin" asp-action="ViewUploads" asp-route-id="@item.RequestId" onclick="viewUploadsData('@item.RequestId', '@item.RequestClient.FirstName', '@item.RequestClient.LastName')">
                                            <div class="action-item">
                                                <img src="~/images/document.png" alt="" class="action-img me-1" style="height: 21px; width: 22px;"><span>View Uploads</span>
                                            </div>
                                        </a>
                                    }

                                    @if (Model.status == "Pending" && Model.an.roleName == "Admin")
                                    {
                                        <a type="button" href="#" data-bs-toggle="modal" data-bs-target="#example9Modal" data-backdrop='static' data-keyboard='false' class="dropdown-item text-dark mb-1 hover-dropdown-item px-1" onclick="transferRequestData('@item.RequestId')">
                                            <div class="action-item">
                                                <img src="~/images/clipboard.png" alt="" class="action-img me-1" style="height: 18px; width: 18px;"><span>Transfer</span>
                                            </div>
                                        </a>
                                    }

                                    @if (Model.status == "Pending" && Model.an.roleName == "Provider")
                                    {
                                        <a type="button" data-bs-toggle="modal" data-bs-target="#providerTransferModal" class="dropdown-item text-dark mb-1 hover-dropdown-item px-1" href="#" onclick="transferData('@item.RequestId')">
                                            <div class="action-item">
                                                <img src="~/images/clipboard.png" alt="" class="action-img me-1" style="height: 18px; width: 18px;"><span>Transfer</span>
                                            </div>
                                        </a>
                                    }

                                    @if (Model.status == "Pending" && Model.an.roleName == "Admin")
                                    {
                                        <a type="button" data-bs-toggle="modal" data-bs-target="#example10Modal" class="dropdown-item mb-1 hover-dropdown-item text-dark px-1" href="#" onclick="clearCaseData('@item.RequestId')">
                                            <div class="action-item">
                                                <img src="~/images/x-mark.png" alt="" class="action-img me-1" style="height: 20px; width: 20px;"><span>Clear Case</span>
                                            </div>
                                        </a>
                                    }
                                    @if (Model.status == "Pending" && Model.an.roleName == "Admin")
                                    {
                                        <a type="button" data-bs-toggle="modal" data-bs-target="#SendAgreementModal" class="dropdown-item mb-1 hover-dropdown-item text-dark px-1" href="#" onclick="sendAgreementData('@item.RequestId', '@item.RequestTypeId', '@item.RequestClient.Email', '@item.RequestClient.PhoneNumber')">
                                            <div class="action-item">
                                                <img src="~/images/send-agreement-image.svg" alt="" class="action-img me-1" style="height: 20px; width: 20px;"><span>Send Agreement</span>
                                            </div>
                                        </a>
                                    }

                                    @if ((Model.status == "Conclude") || Model.status == "ToClose" || Model.status == "Active")
                                    {
                                        <a class="dropdown-item mb-1 hover-dropdown-item px-1" asp-action="Orders" asp-controller="Admin" asp-route-id="@item.RequestId">
                                            <div class="action-item">
                                                <img src="~/images/clipboard.png" alt="" class="action-img me-1" style="height: 18px; width: 18px;"><span>Orders</span>
                                            </div>
                                        </a>

                                        @if (Model.status == "ToClose")
                                        {
                                            <a class="dropdown-item mb-1 hover-dropdown-item px-1" asp-action="CloseCase" asp-controller="Admin" asp-route-id="@item.RequestId">
                                                <div class="action-item">
                                                    <img src="~/images/x-mark.png" alt="" class="action-img me-1" style="height: 20px; width: 20px;"><span>Close Case</span>
                                                </div>
                                            </a>
                                        }

                                        <a class="dropdown-item mb-1 hover-dropdown-item px-1" href="#">
                                            <div class="action-item">
                                                <img src="~/images/writing.png" alt="" class="action-img me-1" style="height: 18px; width: 20px;"><span>Doctor Note</span>
                                            </div>
                                        </a>

                                        @if (Model.status == "ToClose")
                                        {
                                            <a type="button" data-bs-toggle="modal" data-bs-target="#example10Modal" class="dropdown-item mb-1 hover-dropdown-item text-dark px-1" href="#" onclick="clearCaseData('@item.RequestId')">
                                                <div class="action-item">
                                                    <img src="~/images/x-mark.png" alt="" class="action-img me-1" style="height: 20px; width: 20px;"><span>Clear Case</span>
                                                </div>
                                            </a>
                                        }

                                        @if (Model.an.roleName == "Admin")
                                        {
                                            <a class="dropdown-item mb-1 hover-dropdown-item px-1" asp-action="EncounterForm" asp-controller="Admin" asp-route-id="@item.RequestId" onclick="ecnounterFormReqId('@item.RequestId')">
                                                <div class="action-item">
                                                    <img src="~/images/writing.png" alt="" class="action-img me-1" style="height: 18px; width: 20px;"><span>Encounter</span>
                                                </div>
                                            </a>
                                        }

                                        @if (Model.an.roleName == "Provider")
                                        {
                                            bool flag = false;
                                            @foreach (var x in item.EncounterForms)
                                            {
                                                if (x.IsFinalized[0] == true)
                                                {
                                                    flag = true;

                                                }
                                            }
                                            @if (item.Status != 6 && (item.CallType == null || item.CallType == 0))
                                            {
                                                <a type="button" href="#" class="dropdown-item mb-1 hover-dropdown-item text-dark px-1" data-bs-toggle="modal" data-bs-target="#typeOfCareModal" onclick="typeOfCallData('@item.RequestId')">
                                                    <div class="action-item">
                                                        <img src="~/images/writing.png" alt="" class="action-img me-1" style="height: 18px; width: 20px;"><span>Encounter</span>
                                                    </div>
                                                </a>
                                            }

                                            else if (flag)
                                            {
                                                <a type="button" href="#" class="dropdown-item mb-1 hover-dropdown-item text-dark px-1" data-bs-toggle="modal" data-bs-target="#DownloadEncounterModal" onclick="downloadEncounterForm('@item.RequestId')">
                                                    <div class="action-item">
                                                        <img src="~/images/writing.png" alt="" class="action-img me-1" style="height: 18px; width: 20px;"><span>Encounter</span>
                                                    </div>
                                                </a>
                                            }

                                            else
                                            {
                                                <a class="dropdown-item mb-1 hover-dropdown-item px-1" asp-action="EncounterForm" asp-controller="Admin" asp-route-id="@item.RequestId" onclick="ecnounterFormReqId('@item.RequestId')">
                                                    <div class="action-item">
                                                        <img src="~/images/writing.png" alt="" class="action-img me-1" style="height: 18px; width: 20px;"><span>Encounter</span>
                                                    </div>
                                                </a>
                                            }

                                        }
                                    }

                                    @*@if (Model.status == "Conclude" && Model.an.roleName == "Provider")
                            {
                            <a class="dropdown-item mb-1 hover-dropdown-item px-1" asp-action="EncounterForm" asp-controller="Admin" asp-route-id="@item.RequestId" onclick="ecnounterFormReqId('@item.RequestId')">
                            <div class="action-item">
                            <img src="~/images/writing.png" alt="" class="action-img me-1" style="height: 18px; width: 20px;"><span>Encounter</span>
                            </div>
                            </a>
                            }*@
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>



@*Admin Dashboard Mobile View*@

<div class="d-md-none">
    <div class="accordion accordion-flush" id="accordionExample">

        @foreach (var item in Model.requests)
        {
            var statusClass = "";
            var notes = "";
            @if (item.RequestTypeId == 1)
            {
                statusClass = "patient";
            }
            else if (item.RequestTypeId == 4)
            {
                statusClass = "business";
            }
            else if (item.RequestTypeId == 2)
            {
                statusClass = "family";
            }
            else
            {
                statusClass = "concierge";
            }

            <div class="accordion-item">

                <h2 class="accordion-header" id="flush-heading@(item.RequestClientId)">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree(@item.RequestClientId)" aria-expanded="false" aria-controls="collapseThree(@item.RequestClientId)" style="background-color: #E5EEF5;">
                        <div class="d-flex flex-column w-100">
                            <div class="w-100">
                                <span>@(string.Concat(item.RequestClient.FirstName, ',', item.RequestClient.LastName))</span>
                                <div class="float-end">
                                    <span class="me-3">@(statusClass.Substring(0, 1).ToUpper() + statusClass.Substring(1).ToLower())</span>
                                    @if (statusClass == "patient")
                                    {
                                        <span class="categories-div-sub-sub float-end"
                                              style="height:1rem; width:1rem;border-radius:50%;background:#61B961;"></span>
                                    }
                                    else if (statusClass == "family")
                                    {
                                        <span class="categories-div-sub-sub float-end"
                                              style="height:1rem; width:1rem;border-radius:50%;background:#E69127;"></span>
                                    }
                                    else if (statusClass == "business")
                                    {
                                        <span class="categories-div-sub-sub float-end"
                                              style="height:1rem; width:1rem;border-radius:50%;background:#D9677C;"></span>
                                    }
                                    else
                                    {
                                        <span class="categories-div-sub-sub float-end"
                                              style="height:1rem; width:1rem;border-radius:50%;background:#0A7CB8;"></span>
                                    }
                                </div>
                            </div>
                            <div class="w-100 mt-3">

                                <div class="w-25">
                                    <span>@(item.RequestClient.Address == null ? string.Concat(item.RequestClient.Address, ',', item.RequestClient.Street, ',', item.RequestClient.City, ',', item.RequestClient.State, ',', item.RequestClient.ZipCode) : string.Concat(item.RequestClient.Street, ',', item.RequestClient.City, ',', item.RequestClient.State, ',', item.RequestClient.ZipCode))</span>
                                </div>
                                <div class="float-end mb-2 map-div">

                                    <a class="accordion-map map-abs-btn text-decoration-none" data-address="@(string.Concat(item.RequestClient.Street, ", ", item.RequestClient.Address, ", ", item.RequestClient.City, ", ", item.RequestClient.State))">
                                        <span id="map-ttle" class="d-none d-sm-block map-location-text">Map Location</span>
                                        <svg id="map-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#00ccff" class="bi bi-geo-alt d-sm-none" viewBox="0 0 16 16">
                                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            @if (Model.status == "New")
                            {
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#54B4D3" class="bi bi-clock" viewBox="0 0 16 16">
                                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                                    </svg><span class="text-muted ms-2">
                                        Wait Time:
                                        @{
                                            DateTime createdDate = DateTime.ParseExact(@item.CreatedDate.ToString("MM,dd,yyyy"), "MM,dd,yyyy", null);
                                            TimeSpan difference = DateTime.Now - createdDate;
                                        }
                                        @difference
                                    </span>
                                </div>
                            }
                        </div>
                    </button>
                </h2>
                <div id="collapseThree(@item.RequestClientId)" class="accordion-collapse collapse" aria-labelledby="flush-heading@(item.RequestClientId) data-bs-parent="#accordionExample">
                    <div class="accordion-body" style="background-color: #E5EEF5;">
                        <div style="position: relative;">
                            <a asp-action="ViewCase" asp-controller="Admin" asp-route-id="@item.RequestId" type="button" class="btn btn-light view-case-button">View Case</a>
                            @if (Model.status != "Unpaid")
                            {
                                <div><img src="~/images/calendar2-date.svg"><span class="ms-2">Date of birth:  @(DateTime.Parse($"{item.RequestClient.IntYear}-{item.RequestClient.StrMonth}-{item.RequestClient.IntDate}").ToString("MMMM dd,yyyy"))(@DateTime.Now.Year - @item.RequestClient.IntYear)</span></div>
                            }
                            <div class="mt-2"><img src="~/images/envelope.svg"><span class="ms-2">Email:  @item.RequestClient.Email</span></div>
                            @if (Model.status != "ToClose")
                            {
                                <div class="mt-2"><img src="~/images/telephone.svg" /><span class="ms-2">Patient:  @item.RequestClient.PhoneNumber</span></div>
                            }
                            @if (Model.status == "Pending" || Model.status == "Active" || Model.status == "ToClose")
                            {
                                <div class="mt-2">
                                    <img src="~/images/file-earmark.svg" />
                                    <span>
                                        @foreach (var x in item.RequestStatusLogs)
                                        {
                                            <span>@x.Notes</span>
                                        }
                                    </span>
                                </div>
                            }
                            @if (Model.status != "New")
                            {
                                <div class="mt-2"><img src="~/images/calendar2-date.svg"><span class="ms-2">Date of service:  </span></div>
                                <div class="mt-2"><img src="~/images/person.svg"><span class="ms-2">Physician:  </span></div>
                            }
                            @if (Model.an.roleName == "Admin" && (Model.status == "New" || Model.status == "Pending" || Model.status == "Active"))
                            {
                                <div class="mt-2"><img src="~/images/person.svg" /><span class="ms-2">Requestor:  @(statusClass.Substring(0, 1).ToUpper() + statusClass.Substring(1).ToLower()) @(string.Concat(item.FirstName, ',', item.LastName))</span></div>
                            }
                            @if (Model.status == "ToClose")
                            {
                                <div class="mt-2"><img src="~/images/globe-central-south-asia.svg" /><span class="ms-2">Region:  @item.RequestClient.State</span></div>
                            }
                        </div>

                        @*Buttons of accordion*@
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="row mt-3">
                                @if (Model.status == "New")
                                {

                                    @if (Model.an.roleName == "Provider")
                                    {
                                        <div class="col-6">
                                            <button type="button" class="btn rounded-pill btn-sm all-accordion-button w-100 assign-case-button" data-bs-toggle="modal" data-bs-target="#acceptCaseModal" onclick="acceptCaseData('@item.RequestId')">Accept</button>
                                        </div>
                                    }

                                    @if (Model.an.roleName == "Admin")
                                    {
                                        @if(item.PhysicianId == null)
                                        {
                                            <div class="col-6">
                                                <button type="button" class="btn rounded-pill btn-sm all-accordion-button w-100 assign-case-button" data-bs-toggle="modal" data-bs-target="#example2Modal" onclick="assignCaseData('@item.RequestId')">Assign Case</button>
                                            </div>
                                        }
                                        <div class="col-6">
                                            <button type="button" class="btn btn-danger rounded-pill btn-sm all-accordion-button w-100" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="cancelCaseData('@item.RequestId', '@item.RequestClient.FirstName', '@item.RequestClient.LastName')">Cancel Case</button>
                                        </div>
                                    }

                                    @if (Model.an.roleName == "Admin")
                                    {
                                        <div class="col-6 mt-2">
                                            <a type="button" class="btn rounded-pill btn-sm all-accordion-button w-100 green-button" asp-action="ViewNotes" asp-controller="Admin" asp-route-id="@item.RequestId">View Notes</a>
                                        </div>
                                    }

                                    @if (Model.an.roleName == "Provider")
                                    {
                                        <div class="col-6">
                                            <a type="button" class="btn rounded-pill btn-sm all-accordion-button w-100 green-button" asp-action="ViewNotes" asp-controller="Admin" asp-route-id="@item.RequestId">View Notes</a>
                                        </div>
                                    }

                                    @if (Model.an.roleName == "Admin")
                                    {
                                        <div class="col-6 mt-2">
                                            <button type="button" class="btn btn-danger rounded-pill btn-sm all-accordion-button w-100" data-bs-toggle="modal" data-bs-target="#example3Modal" onclick="cancelCaseData('@item.RequestId', '@item.RequestClient.FirstName', '@item.RequestClient.LastName')">Block Patient</button>
                                        </div>
                                    }

                                    <div class="col-6 mt-2">
                                        <button type="button" class="btn rounded-pill btn-sm all-accordion-button w-100 green-button">Email</button>
                                    </div>

                                }

                                @if (Model.status == "Pending")
                                {
                                    <div class="col-6">
                                        <button type="button" class="btn rounded-pill all-accordion-button w-100 yellow-button text-dark" data-bs-toggle="modal" data-bs-target="#SendAgreementModal" onclick="sendAgreementData('@item.RequestId', '@item.RequestTypeId', '@item.RequestClient.Email', '@item.RequestClient.PhoneNumber')">Send Agreement</button>
                                    </div>
                                    <div class="col-6">
                                        <a type="button" class="btn rounded-pill all-accordion-button w-100 green-button" asp-action="ViewNotes" asp-controller="Admin" asp-route-id="@item.RequestId">View Notes</a>
                                    </div>
                                    @if (Model.an.roleName == "Admin")
                                    {
                                        <div class="col-6 mt-2">
                                            <button type="button" class="btn rounded-pill all-accordion-button w-100 blue-button" data-bs-toggle="modal" data-bs-target="#example9Modal" class="dropdown-item text-dark mb-1 hover-dropdown-item" href="#" onclick="transferRequestData('@item.RequestId')">Transfer</button>
                                        </div>
                                    }
                                    <div class="col-6 mt-2">
                                        <a type="button" class="btn rounded-pill all-accordion-button w-100 green-button" asp-controller="Admin" asp-action="ViewUploads" asp-route-id="@item.RequestId" onclick="viewUploadsData('@item.RequestId', '@item.RequestClient.FirstName', '@item.RequestClient.LastName')">View Uploads</a>
                                    </div>
                                    @if (Model.an.roleName == "Admin")
                                    {
                                        <div class="col-6 mt-2">
                                            <button type="button" class="btn rounded-pill all-accordion-button w-100 yellow-button" data-bs-toggle="modal" data-bs-target="#example10Modal" class="dropdown-item mb-1 hover-dropdown-item text-dark" href="#" onclick="clearCaseData('@item.RequestId')">Clear Case</button>
                                        </div>
                                    }
                                    <div class="col-6 mt-2">
                                        <button type="button" class="btn rounded-pill all-accordion-button w-100 green-button">Email</button>
                                    </div>
                                }

                                @if (Model.status == "Active")
                                {
                                    <div class="col-6">
                                        <a type="button" class="btn rounded-pill all-accordion-button w-100 green-button" asp-action="ViewNotes" asp-controller="Admin" asp-route-id="@item.RequestId">View Notes</a>
                                    </div>
                                    <div class="col-6">
                                        <button type="button" class="btn rounded-pill all-accordion-button w-100 dark-green-button">Doctors Notes</button>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <a type="button" class="btn rounded-pill all-accordion-button w-100 green-button" asp-controller="Admin" asp-action="ViewUploads" asp-route-id="@item.RequestId" onclick="viewUploadsData('@item.RequestId', '@item.RequestClient.FirstName', '@item.RequestClient.LastName')">View Uploads</a>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <a type="button" class="btn rounded-pill all-accordion-button w-100 green-button" asp-action="EncounterForm" asp-controller="Admin" asp-route-id="@item.RequestId" onclick="ecnounterFormReqId('@item.RequestId')">Encounter</a>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <a type="button" class="btn rounded-pill all-accordion-button w-100 yellow-button" asp-action="Orders" asp-controller="Admin" asp-route-id="@item.RequestId">Orders</a>
                                    </div>
                                    @if (Model.an.roleName == "Provider")
                                    {
                                        <div class="col-6 mt-2">
                                            <a type="button" class="btn rounded-pill all-accordion-button w-100 blue-button" asp-action="EncounterForm" asp-controller="Admin" asp-route-id="@item.RequestId" onclick="ecnounterFormReqId('@item.RequestId')">House Call</a>
                                        </div>
                                    }
                                    <div class="col-6 mt-2">
                                        <button type="button" class="btn rounded-pill all-accordion-button w-100 green-button">Email</button>
                                    </div>
                                }

                                @if (Model.status == "Conclude")
                                {
                                    @if (Model.an.roleName == "Provider")
                                    {
                                        <div class="col-6">
                                            <a type="button" class="btn btn-danger rounded-pill all-accordion-button w-100" asp-action="ConcludeCare" asp-controller="Provider" asp-route-id="@item.RequestId">Conclude Care</a>
                                        </div>
                                    }
                                    <div class="col-6">
                                        <a type="button" class="btn rounded-pill all-accordion-button w-100 green-button" asp-action="ViewNotes" asp-controller="Admin" asp-route-id="@item.RequestId">View Notes</a>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <button type="button" class="btn rounded-pill all-accordion-button w-100 dark-green-button">Doctors Notes</button>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <a type="button" class="btn rounded-pill all-accordion-button w-100 green-button" asp-controller="Admin" asp-action="ViewUploads" asp-route-id="@item.RequestId" onclick="viewUploadsData('@item.RequestId', '@item.RequestClient.FirstName', '@item.RequestClient.LastName')">View Uploads</a>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <a type="button" class="btn rounded-pill all-accordion-button w-100 green-button" asp-action="EncounterForm" asp-controller="Admin" asp-route-id="@item.RequestId" onclick="ecnounterFormReqId('@item.RequestId')">Encounter</a>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <a type="button" class="btn rounded-pill all-accordion-button w-100 yellow-button" asp-action="Orders" asp-controller="Admin" asp-route-id="@item.RequestId">Orders</a>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <button type="button" class="btn rounded-pill all-accordion-button w-100 green-button">Email</button>
                                    </div>
                                }

                                @if (Model.status == "ToClose")
                                {
                                    <div class="col-6">
                                        <a type="button" class="btn btn-danger rounded-pill all-accordion-button w-100" asp-action="CloseCase" asp-controller="Admin" asp-route-id="@item.RequestId">Close Case</a>
                                    </div>
                                    <div class="col-6">
                                        <a type="button" class="btn rounded-pill all-accordion-button w-100 green-button ggreen-button" asp-action="ViewNotes" asp-controller="Admin" asp-route-id="@item.RequestId">View Notes</a>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <button type="button" class="btn rounded-pill all-accordion-button w-100 dark-green-button">Doctors Notes</button>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <a type="button" class="btn rounded-pill all-accordion-button w-100 green-button" asp-controller="Admin" asp-action="ViewUploads" asp-route-id="@item.RequestId" onclick="viewUploadsData('@item.RequestId', '@item.RequestClient.FirstName', '@item.RequestClient.LastName')">View Uploads</a>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <a type="button" class="btn rounded-pill all-accordion-button w-100 green-button" asp-action="EncounterForm" asp-controller="Admin" asp-route-id="@item.RequestId" onclick="ecnounterFormReqId('@item.RequestId')">Encounter</a>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <button type="button" class="btn rounded-pill all-accordion-button w-100 yellow-button" data-bs-toggle="modal" data-bs-target="#example10Modal" class="dropdown-item mb-1 hover-dropdown-item text-dark" href="#" onclick="clearCaseData('@item.RequestId')">Clear Case</button>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <button type="button" class="btn rounded-pill all-accordion-button w-100 green-button">Email</button>
                                    </div>
                                }

                                @if (Model.status == "Unpaid")
                                {
                                    <div class="col-6">
                                        <a type="button" class="btn green-button rounded-pill all-accordion-button w-100" asp-action="ViewNotes" asp-controller="Admin" asp-route-id="@item.RequestId">View Notes</a>
                                    </div>
                                    <div class="col-6">
                                        <a type="button" class="btn green-button rounded-pill all-accordion-button w-100" asp-controller="Admin" asp-action="ViewUploads" asp-route-id="@item.RequestId" onclick="viewUploadsData('@item.RequestId', '@item.RequestClient.FirstName', '@item.RequestClient.LastName')">View Uploads</a>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <button type="button" class="btn green-button rounded-pill all-accordion-button w-100">Email</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*}*@
        }
        @*}*@
    </div>
</div>

<div class="pagination">
    <span style="margin-right:10px;">Page No:</span>
    @if (Model.CurrentPage > 1)
    {
        <a style="color:#00ccff !important; cursor: pointer !important" data-page="@(Model.CurrentPage - 1)" class="mx-4 text-decoration-none pagination-text">Previous</a>
    }

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a style="color:#00ccff !important; cursor: pointer !important" data-page="@i" class="@(i == Model.CurrentPage ? "pagination-active" : "") mx-4 text-decoration-none pagination-text">@i</a>
    }

    @if (Model.CurrentPage < Model.TotalPages)
    {
        <a style="color:#00ccff !important; cursor: pointer !important;" data-page="@(Model.CurrentPage + 1)" class="mx-4 text-decoration-none pagination-text">Next</a>
    }
</div>



<script>


    // pagination
    $(document).ready(function () {
        $('.pagination a').click(function (e) {
            e.preventDefault();
            //console.log("hiiiiiii");
            var page = $(this).attr('data-page');

            filter(page, 10);
        });
    });

    //function toggleDropdown() {
    //    const dropdown = document.querySelector('.dropdown');
    //    isDropdownActive = !isDropdownActive;
    //    dropdown.classList.toggle('active');
    //}
    //document.addEventListener('click', (event) => {
    //    const dropdown = document.querySelector('.dropdown');
    //    if (isDropdownActive && !dropdown.contains(event.target)) {
    //        isDropdownActive = false;
    //        dropdown.classList.remove('active');
    //    }
    //});
    //$(document).ready(function () {
    //    $("#dtBasicExample").DataTable();
    //});



    var modal6 = document.getElementById("myModal6");
    //var btn = document.getElementsByClassName("map-button");
    var spany6 = document.getElementsByClassName("close6")[0];
    var map = document.getElementsByClassName("map-abs-btn");

    for (let i = 0; i < map.length; ++i) {
        map[i].onclick = function () {

            var address = map[i].getAttribute("data-address");
            MapFunc(address);
        };
    }

    function MapFunc(address) {
        console.log(address);
        var address1 = `https://maps.google.com/maps?q= + ${address} + &t=&z=13&ie=UTF8&iwloc=&output=embed`;
        document.getElementById('gmap_canvas').src = address1;
        modal6.style.display = "block";
    }
    spany6.onclick = function () {
        modal6.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal6) {
            modal6.style.display = "none";
        }
    }



</script>

