@model InvoicingViewModel

<div class="table-responsive">
    <table class="table">
        <thead class="table-secondary">
            <tr>
                <th class="text-center">Date</th>
                <th class="text-center">On-call Hours</th>
                <th class="text-center">Total Hours</th>
                <th class="text-center">Weekend/Holiday</th>
                <th class="text-center">Number of Housecalls</th>
                <th class="text-center">Number of Phone Consults</th>
            </tr>
        </thead>

        <tbody>
            @{
                var i = 0;
            }
            @foreach (var item in Model.rvm)
            {
                <tr>
                    <td class="text-center">@item.dateAndOnCallHour.Key.Replace("-","/")</td>
                    <td class="text-center">@item.dateAndOnCallHour.Value</td>
                    <td class="text-center">
                        <input type="number" class="form-control" id="1" value="@item.totalHours" asp-for="@item.totalHours" />
                    </td>
                    <td class="text-center">
                        <input type="checkbox" style="height: 18px;width: 18px;" class="ms-2 mt-2 me-5" id="checkall" value="@item.isWeekend" asp-for="@item.isWeekend" />
                    </td>
                    <td class="text-center">
                        <input type="number" class="form-control" id="house@(i)" value="@item.numberOfHouseCalls" asp-for="@item.numberOfHouseCalls" onchange="setHouseCall(this.value,@i)" />
                    </td>
                    <td class="text-center">
                        <input type="number" class="form-control" id="1" value="@item.numberOfPhoneConsult" asp-for="@item.numberOfPhoneConsult" />
                    </td>
                </tr>
                i++;
            }
            <input type="date" style="display: none;" name="startDate" />
            <input type="date" style="display: none;" name="endDate" />
        </tbody>
    </table>


    <table class="table mt-3">
        <thead class="table-secondary">
            <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Item</th>
                <th class="text-center">Amount</th>
                <th><span class="ms-5">Bill</span></th>
                <th class="text-center">Action</th>
            </tr>
        </thead>

        <tbody>
            @{
                var j = 0;
            }
            @foreach (var item in Model.rvm)
            {
                <tr>
                    <td class="text-center">@item.dateAndFileName.Key.Replace("-","/")</td>
                    <td class="text-center">
                        <input type="text" class="form-control" id="item" asp-for="@item.items" />
                    </td>
                    <td class="text-center">
                        <input type="number" class="form-control" id="amount" asp-for="@item.amounts" />
                    </td>
                    <td>
                        <div class="d-flex gap-0 w-50">
                            <input type="file" id="fi" class="form-control rounded-end-0 change3" asp-for="@item.file" placeholder="Select Photo" onchange="checkName('@j')" />
                            <button type="button" class="btn btn-info text-white rounded-start-0">Upload</button>
                        </div>
                    </td>
                    <td class="text-center">
                        @if (item.dateAndFileName.Value != "")
                        {
                            <button type="button" class="btn btn-outline-info">Edit</button>
                            <button type="button" class="btn btn-outline-info">Delete</button>
                            <button type="button" class="btn btn-outline-info">View</button>
                        }
                    </td>
                </tr>
                j++;
            }
        </tbody>
    </table>
</div>