@model HalloDoc.DataLayer.ViewModels.ProviderMenuViewModel

<table class="table mt-0">
    <thead class="table-secondary">
        <tr>
            <th>Stop Notification</th>
            <th>Provider Name <i class="bi bi-arrow-up"></i></th>
            <th>Role</th>
            <th>On Call Status</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.physician)
        {
            @if (!item.IsDeleted[0])
            {
                <tr>
                    <td>
                        <input class="checkboxes" type="checkbox" value="@item.PhysicianId" name="checkbox_group" onchange="ChangeNotification('@item.PhysicianId')" style="height: 18px;width: 18px;"
                        @if (item.PhysicianNotifications != null && item.PhysicianNotifications.Any(r => r.IsNotificationStopped[0]))
                        {
                            <text>checked</text>
                        }
                        />
                    </td>
                    <td>@($"{item.FirstName} {item.LastName}")</td>
                    <td>
                        <span>@Model.roles.FirstOrDefault(r => r.RoleId == item.RoleId).Name</span>
                    </td>
                    <td>On Call Status</td>
                    <td>
                        @if (item.Status == 1)
                        {
                            <span>Pending</span>
                        }
                        else if (item.Status == 2)
                        {
                            <span>Active</span>
                        }
                        else
                        {
                            <span>Not Active</span>
                        }
                    </td>
                    <td>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#contactProviderModal" class="btn btn-outline-info" onclick="fetchEmail('@item.Email')">Contact</button>
                        <a type="button" class="btn btn-outline-info" asp-action="EditProviderAccount" asp-controller="Admin" asp-route-id="@item.PhysicianId">Edit</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="modal fade" id="contactProviderModal" tabindex="-1" aria-labelledby="contactProviderModalLablel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form>
                <input type="hidden" id="phy-email" />
                <div class="modal-header bg-info">
                    <h3 class="modal-title text-white fs-5" id="contactProviderModalLablel">Contact Your Provider</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-muted">Choose communication to send message</p>
                    <div class="form-check">
                        <input type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            SMS
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Email
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                        <label class="form-check-label" for="flexRadioDefault3">
                            Both
                        </label>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control mt-3" id="msg" placeholder="Message" rows="5" name="contactProviderMessage" asp-for="sendMessage"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="sendMessageToPhy(document.getElementById('phy-email').value, document.getElementById('msg').value)" class="btn btn-info">Send</button>
                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

