@model InvoicingViewModel
@{
    ViewData["Title"] = "Biweekly Timesheet";
}

@section Styles{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}

@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}

<html>
<head>
    <style>
        input:focus {
            outline: #3DB6FF !important;
            /*border: 2px solid white !important;*/
            box-shadow: none !important;
            border-color: #3DB6FF !important;
            /*color: red !important;*/
        }

        textarea:focus {
            outline: none !important;
            border-color: #3DB6FF !important;
            box-shadow: none !important;
        }


        .form-floating:focus-within label {
            color: #3DB6FF !important;
        }

        select:focus {
            outline: #3DB6FF !important;
            /*border: 2px solid white !important;*/
            box-shadow: none !important;
            border-color: #3DB6FF !important;
            /*color: red !important;*/
        }

        #fi::-webkit-file-upload-button {
            display: none;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }

        .table tr:last-child th,
        .table tr:last-child td {
            border: none;
        }
    </style>
</head>

<body class="bg-light">
    <div class="bg-light" style="overflow: hidden;">
        <partial name="HeaderFooter" model="@Model.adminNavbarModel" />
        <partial name="Toast" />


        <div class="container">
            <form method="post" asp-action="SubmitTimeSheet" asp-controller="Provider" enctype="multipart/form-data">
                <input type="hidden" name="phyId" asp-for="@Model.physicianId"/>
                <div class="row">
                    <div style="top: 42px; position: relative;" class="col">
                        <a class="float-end text-info mx-auto" id="backdesign" onclick="window.history.back()" style="text-decoration: none;margin-right: 243px;border: 1px solid; border-radius: 7px; height: 40px;display: flex;align-items: center;justify-content: center;padding: 4px 4px 4px 1px;width: 69px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                            </svg>
                            Back
                        </a>
                    </div>

                    <div class="row">
                        <div class="col mt-2">
                            <p class="h5 text-muted fw-bold" id="heading-one">

                            </p>
                        </div>
                    </div>
                </div>

                <div class="bg-white p-0 mt-5">
                    <div class="table-responsive">

                        <table class="table">
                            <thead class="table-secondary">
                                <tr>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">On-call Hours</th>
                                    <th class="text-center">Total Hours</th>
                                    <th class="text-center">Weekend/Holiday</th>
                                    <th class="text-center">Number of Housecalls</th>
                                    <th class="text-center">Number of Phone Consults</th>
                                    @if (Model.adminNavbarModel.roleName == "Admin")
                                    {
                                        <th class="text-center">Total</th>
                                    }
                                </tr>
                            </thead>

                            <tbody>
                                @{
                                    var x = 0;
                                }
                                @for (var i = 0; i < Model.rvm.Count; i++)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @Model.rvm[i].dateAndOnCallHour.Key.Replace("-","/")
                                        </td>

                                        <td class="text-center">
                                            @Model.rvm[i].dateAndOnCallHour.Value
                                        </td>

                                        <td class="text-center">
                                            <input type="number" class="form-control" id="1" value="@Model.rvm[i].totalHours" asp-for="@Model.rvm[i].totalHours" />
                                        </td>

                                        <td class="text-center">
                                            <input type="checkbox" style="height: 18px;width: 18px;" class="ms-2 mt-2 me-5" id="checkall" value="@Model.rvm[i].isWeekend" asp-for="@Model.rvm[i].isWeekend" />
                                        </td>

                                        <td class="text-center">
                                            <input type="number" class="form-control" id="house@(i)" value="@Model.rvm[i].numberOfHouseCalls" asp-for="@Model.rvm[i].numberOfHouseCalls" onchange="setHouseCall(this.value,@i)" />
                                        </td>

                                        <td class="text-center">
                                            <input type="number" class="form-control" id="1" value="@Model.rvm[i].numberOfPhoneConsult" asp-for="@Model.rvm[i].numberOfPhoneConsult" />
                                        </td>
                                    </tr>
                                    x++;
                                }

                                @if (Model.adminNavbarModel.roleName == "Admin")
                                {
                                    var one = Math.BigMul((int)Model.payrateShift, (int)Model.shiftCount);
                                    var two = Math.BigMul((int)Model.payrateWeekend, (int)Model.weekendCount);
                                    var three = Math.BigMul((int)Model.payrateHouseCall, (int)Model.houseCallCount);
                                    var four = Math.BigMul((int)Model.payratePhoneConsult, (int)Model.phoneConsultCount);
                                    var five = one + two + three + four;

                                    <tr>
                                        <td>Payrate</td>
                                        <td></td>
                                        <td><input type="text" class="form-control" disabled asp-for="@Model.payrateShift" value="@Model.payrateShift" /></td>
                                        <td><input type="text" class="form-control" disabled asp-for="@Model.payrateWeekend" value="@Model.payrateWeekend" /></td>
                                        <td><input type="text" class="form-control" disabled asp-for="@Model.payrateHouseCall" value="@Model.payrateHouseCall" /></td>
                                        <td><input type="text" class="form-control" disabled asp-for="@Model.payratePhoneConsult" value="@Model.payratePhoneConsult" /></td>
                                    </tr>

                                    <tr>
                                        <td>Invoice Total</td>
                                        <td></td>
                                        <td><input type="text" class="form-control" disabled value="@one" /></td>
                                        <td><input type="text" class="form-control" disabled value="@two" /></td>
                                        <td><input type="text" class="form-control" disabled value="@three" /></td>
                                        <td><input type="text" class="form-control" disabled value="@four" /></td>
                                        <td><input type="text" class="form-control" disabled value="@five" /></td>
                                    </tr>
                                }
                                <input type="date" style="display: none;" name="startDate" asp-for="@Model.startDate" />
                                <input type="date" style="display: none;" name="endDate" asp-for="@Model.endDate" />
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-info text-white float-end mt-4">Submit</button>
                    </div>
                </div>
            </form>

            @if (Model.timesheetId != 0 && Model.timesheetId != null)
            {
                <div class="row">
                    <div class="col">
                        <button type="button" id="addHideReceipt" class="btn btn-info text-white float-start mt-4">
                            <span id="add">Add Receipts</span>
                            <span id="hide" style="display: none;">Hide Receipts</span>
                        </button>
                    </div>
                </div>
            }

            <div class="bg-white p-0 mt-5" id="receiptTable" style="display: none;">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-secondary">
                            <tr>
                                <th class="text-center">Date</th>
                                <th class="text-center">Item</th>
                                <th class="text-center">Amount</th>
                                <th><span class="ms-5">Bill</span></th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                var j = 0;
                            }
                            @for (var i = 0; i < Model.rvm.Count; i++)
                            {
                                string str = Model.rvm[i].dateAndFileName.Key + "-" + Model.rvm[i].dateAndFileName.Value;
                                <form method="post" asp-action="SubmitReimbursement" asp-controller="Provider" asp-route-ind="@j" enctype="multipart/form-data">

                                <tr>
                                    <td class="text-center">
                                            @Model.rvm[i].dateAndFileName.Key.Replace("-","/")
                                    </td>

                                    <td class="text-center">
                                        <input type="text" name="item" class="form-control" id="item@(j)" asp-for="@Model.rvm[i].items" onchange="checkVal('@j')" readonly=@Model.rvm[i].isHavingFile />
                                    </td>

                                    <td class="text-center">
                                        <input type="number" name="amount" class="form-control" id="amount@(j)" onchange="checkVal('@j')" asp-for="@Model.rvm[i].amounts" readonly=@Model.rvm[i].isHavingFile />
                                    </td>

                                    <td>
                                            @if (Model.rvm[i].isFileDeleted != true)
                                            {
                                                @if (Model.rvm[i].dateAndFileName.Value != null && Model.rvm[i].dateAndFileName.Value != "")
                                                {
                                                <div class="d-flex gap-0" id="fileName@(i)">
                                                    <span>@Model.rvm[i].dateAndFileName.Value</span>
                                                </div>
                                                }

                                                else
                                                {
                                                <div class="d-flex gap-0 w-50" id="fileUpload@(i)">
                                                    <input type="file" name="upload" id="fi" class="form-control rounded-end-0 change3" asp-for="@Model.rvm[i].file" placeholder="Select Photo" onchange="checkName('@j')" />
                                                    <button type="button" class="btn btn-info text-white rounded-start-0">
                                                        Upload
                                                    </button>
                                                </div>
                                                }
                                            }
                                    </td>

                                    <td>
                                        <button type="submit" id="saveBtn@(j)" class="btn btn-outline-info" style="display: none;">
                                            Save
                                        </button>

                                        <button type="button" id="cancelBtn@(j)" class="btn btn-outline-info" style="display: none;" onclick="hideData('@j')">
                                            Cancel
                                        </button>

                                            @if (Model.rvm[i].items != null)
                                            {
                                            <button type="button" id="editBtn@(j)" class="btn btn-outline-info" onclick="checkVal(@j)">
                                                Edit
                                            </button>

                                                @if (Model.rvm[i].dateAndFileName.Value != "" && Model.rvm[i].isFileDeleted == false)
                                                {
                                                <a type="button" asp-action="DeleteFile" asp-route-id="@Model.rvm[i].id" asp-controller="Provider" class="btn btn-outline-info">
                                                    Delete
                                                </a>

                                                <a href="~/Reimbursement/@Model.rvm[i].phyId/@str" target="_blank" type="button" class="btn btn-outline-info">
                                                    View
                                                </a>
                                                }
                                            }
                                    </td>

                                    <input type="date" style="display: none;" name="startDate" asp-for="@Model.startDate" />
                                    <input type="date" style="display: none;" name="endDate" asp-for="@Model.endDate" />
                                    <input type="hidden" name="phyId" asp-for="@Model.rvm[i].phyId" />
                                </tr>
                                </form>
                                j++;
                            }
                        </tbody>
                    </table>
                </div>

                @if (Model.adminNavbarModel.roleName == "Admin")
                {
                    <div class="d-flex justify-content-end">
                        <form method="post" asp-action="ApproveTimesheet" asp-controller="Admin">
                            <div class="form-floating d-inline-block w-auto mt-4 h-75 me-2">
                                <input type="number" name="bonus" class="form-control" />
                                <input type="hidden" name="tid" asp-for="@Model.timesheetId"/>
                                <label for="floatingInput" class="text-muted">Bonus Amount</label>
                            </div>

                            <div class="form-floating d-inline-block w-auto mt-4 h-75 me-2">
                                <input type="text" name="desc" class="form-control" />
                                <label for="floatingInput" class="text-muted">Admin Description</label>
                            </div>

                            <div class="form floating float-end">
                                <button type="submit" class="btn btn-info mt-4">Approve</button>
                            </div>
                        </form>
                    </div>
                }
            </div>

            @if (Model.adminNavbarModel.roleName == "Provider" && Model.timesheetId != 0 && Model.timesheetId != null)
            {
                <div class="row">
                    <div class="col">
                        <a type="button" class="btn btn-info text-white float-end mt-4" asp-action="FinalizeTimesheet" asp-controller="Provider" asp-route-tid="@Model.timesheetId">Finalize</a>
                    </div>
                </div>
            }

            
        </div>


    </div>
</body>
</html>

<script>
    let isReceiptVisible = 0;

    document.getElementById("addHideReceipt").onclick = function () {
        if (isReceiptVisible == 0) {
            document.getElementById("add").style.display = "none";
            document.getElementById("hide").style.display = "block";
            document.getElementById("receiptTable").style.display = "block";
            isReceiptVisible = 1;
        }

        else if (isReceiptVisible == 1) {
            document.getElementById("add").style.display = "block";
            document.getElementById("hide").style.display = "none";
            document.getElementById("receiptTable").style.display = "none";
            isReceiptVisible = 0;
        }
    }

    function checkVal(id) {
        console.log(id);
        var item = document.getElementById(`item${id}`).value;
        var amt = document.getElementById(`amount${id}`).value;
        console.log(item);
        console.log(amt);

        if (item != null && amt != null && item != "" && amt != "") {
            document.getElementById(`saveBtn${id}`).style.display = "inline-block";
            document.getElementById(`cancelBtn${id}`).style.display = "inline-block";
            document.getElementById(`editBtn${id}`).style.display = "none";
            document.getElementById(`item${id}`).removeAttribute('readonly');
            document.getElementById(`amount${id}`).removeAttribute('readonly');
        }

        else {
            document.getElementById(`saveBtn${id}`).style.display = "none";
            document.getElementById(`cancelBtn${id}`).style.display = "none";
            document.getElementById(`editBtn${id}`).style.display = "inline-block";
        }
    }

    function hideData(id) {
        //document.getElementById(`item${id}`).value = "";
        //document.getElementById(`amount${id}`).value = "";
        document.getElementById(`saveBtn${id}`).style.display = "none";
        document.getElementById(`cancelBtn${id}`).style.display = "none";
        document.getElementById(`editBtn${id}`).style.display = "inline-block";
        document.getElementById(`item${id}`).setAttribute('readonly', true);
        document.getElementById(`amount${id}`).setAttribute('readonly', true);
    }

</script>